<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.da.sage.assistant.dao.AttachmentMapper"> 
	<!--Open L2 Cache under Names pace: 1 Hour-->
	<cache eviction="LRU" flushInterval="3600000" readOnly="true" size="1024"/>
    <select id="getAttachment" parameterType="String" resultType="com.da.sage.assistant.model.Attachment">
		SELECT 
			IDENT1_0 AS PN,
			TYPDOC_0 AS DocType,
			NAM_0 AS Path,
		CASE 
			WHEN CAT_0 IN (3,4,5,6,8,12,13,14,19) THEN 'Drawing'
			WHEN CAT_0 IN (9,18) THEN 'Manual'
			WHEN CAT_0 IN (15) THEN 'Certificate'
			ELSE 'Other' END  AS  Cat
		FROM EXPLOIT.AOBJTXT
		WHERE 
			ABREV_0='ITM' AND IDENT1_0=#{Pn}
		ORDER BY ROWID DESC
    </select>
</mapper>
