<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sageassistant.dao2.TrackingMapper">
	<!--Open L2 Cache under Names pace: 1 Hour-->
	<cache eviction="LRU" flushInterval="3600000" readOnly="true" size="1024"/>
	
	 <select id="findTrackingNotes" parameterType="String" resultType="sageassistant.model.TrackingNotes">
	 	SELECT DISTINCT 
			TRACKCODE AS TrackCode,
			NOTE AS Note,
			NVL2(UPDATEBY,UPDATEBY, CREATEBY) AS NoteBy,
			NVL2(UPDATEDATE,UPDATEDATE, CREATEDATE) AS NoteDate
		FROM TRACKING
		WHERE 1=1
		<if test = " TrackCode != '' ">
			AND TRACKCODE In (#{TrackCode})
		</if>
	 </select>
	 <insert id="insertTrackingNotes" parameterType="String" >
		INSERT INTO TRACKING 
		       (TRACKCODE,NOTE,CREATEDATE,CREATEBY)
		VALUES (#{TrackCode},#{Note},#{CreateDate},#{CreateBy})
	 </insert>
	 <update id="updateTrackingNotes" parameterType="String" >
		UPDATE TRACKING SET
			NOTE = #{Note},
			UPDATEDATE = #{UpdateDate},
			UPDATEBY = #{UpdateBy}
		WHERE
		   TRACKCODE = #{TrackCode}
	 </update>                                                                                  
	 <delete id="deleteTrackingNotes" parameterType="String" >
		DELETE FROM TRACKING 
		WHERE 
		    TRACKCODE = #{TrackCode}
	 </delete>
</mapper>