<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sageassistant.dao.FinancialMapper">
	<!--Open L2 Cache under Names pace: 1 Hour -->
	<cache eviction="FIFO" flushInterval="3600000" readOnly="true" size="1024" />
	
	<select id="findAccoutBalanceByAccountNO" resultType="sageassistant.model.FinancialBalance">
		SELECT
			T1.Currency, 
			T1.Year,
			D0-C0 AS A0,
			D0+D1-C0-C1 AS A1,
			D0+D1+D2-C0-C1-C2 AS A2,
			D0+D1+D2+D3-C0-C1-C2-C3 AS A3,
			D0+D1+D2+D3+D4-C0-C1-C2-C3-C4 AS A4,
			D0+D1+D2+D3+D4+D5-C0-C1-C2-C3-C4-C5 AS A5,
			D0+D1+D2+D3+D4+D5+D6-C0-C1-C2-C3-C4-C5-C6 AS A6,
			D0+D1+D2+D3+D4+D5+D6+D7-C0-C1-C2-C3-C4-C5-C6-C7 AS A7,
			D0+D1+D2+D3+D4+D5+D6+D7+D8-C0-C1-C2-C3-C4-C5-C6-C7-C8 AS A8,
			D0+D1+D2+D3+D4+D5+D6+D7+D8+D9-C0-C1-C2-C3-C4-C5-C6-C7-C8-C9 AS A9,
			D0+D1+D2+D3+D4+D5+D6+D7+D8+D9+D10-C0-C1-C2-C3-C4-C5-C6-C7-C8-C9-C10 AS A10,
			D0+D1+D2+D3+D4+D5+D6+D7+D8+D9+D10+D11-C0-C1-C2-C3-C4-C5-C6-C7-C8-C9-C10-C11 AS A11,
			D0+D1+D2+D3+D4+D5+D6+D7+D8+D9+D10+D11+D12-C0-C1-C2-C3-C4-C5-C6-C7-C8-C9-C10-C11-C12 AS A12,
			D0-C0 AS B0,
			D1-C1 AS B1,
			D2-C2 AS B2,
			D3-C3 AS B3,
			D4-C4 AS B4,
			D5-C5 AS B5,
			D6-C6 AS B6,
			D7-C7 AS B7,
			D8-C8 AS B8,
			D9-C9 AS B9,
			D10-C10 AS B10,
			D11-C11 AS B11,
			D12-C12 AS B12,
			T1.C0,
			T1.C1,
			T1.C2,
			T1.C3,
			T1.C4,
			T1.C5,
			T1.C6,
			T1.C7,
			T1.C8,
			T1.C9,
			T1.C10,
			T1.C11,
			T1.C12,
			T1.D0,
			T1.D1,
			T1.D2,
			T1.D3,
			T1.D4,
			T1.D5,
			T1.D6,
			T1.D7,
			T1.D8,
			T1.D9,
			T1.D10,
			T1.D11,
			T1.D12
		FROM (
		SELECT DISTINCT
				BALANCE.CURLED_0 AS Currency,
				FISCALYEAR.DESSHO_0 AS Year,
				SUM(DEBLED_0) OVER (PARTITION BY BALANCE.FIY_0) AS D0, 
				SUM(CDTLED_0) OVER (PARTITION BY BALANCE.FIY_0) AS C0, 
				SUM(DEBLED_1) OVER (PARTITION BY BALANCE.FIY_0) AS D1, 
				SUM(CDTLED_1) OVER (PARTITION BY BALANCE.FIY_0) AS C1, 
				SUM(DEBLED_2) OVER (PARTITION BY BALANCE.FIY_0) AS D2, 
				SUM(CDTLED_2) OVER (PARTITION BY BALANCE.FIY_0) AS C2, 
				SUM(DEBLED_3)  OVER (PARTITION BY BALANCE.FIY_0) AS D3, 
				SUM(CDTLED_3)  OVER (PARTITION BY BALANCE.FIY_0) AS C3, 
				SUM(DEBLED_4)  OVER (PARTITION BY BALANCE.FIY_0) AS D4, 
				SUM(CDTLED_4)  OVER (PARTITION BY BALANCE.FIY_0) AS C4, 
				SUM(DEBLED_5)  OVER (PARTITION BY BALANCE.FIY_0) AS D5, 
				SUM(CDTLED_5)  OVER (PARTITION BY BALANCE.FIY_0) AS C5, 
				SUM(DEBLED_6)  OVER (PARTITION BY BALANCE.FIY_0) AS D6, 
				SUM(CDTLED_6)  OVER (PARTITION BY BALANCE.FIY_0) AS C6, 
				SUM(DEBLED_7)  OVER (PARTITION BY BALANCE.FIY_0) AS D7, 
				SUM(CDTLED_7)  OVER (PARTITION BY BALANCE.FIY_0) AS C7, 
				SUM(DEBLED_8)  OVER (PARTITION BY BALANCE.FIY_0) AS D8, 
				SUM(CDTLED_8)  OVER (PARTITION BY BALANCE.FIY_0) AS C8,
				SUM(DEBLED_9)  OVER (PARTITION BY BALANCE.FIY_0) AS D9, 
				SUM(CDTLED_9)  OVER (PARTITION BY BALANCE.FIY_0) AS C9, 
				SUM(DEBLED_10)  OVER (PARTITION BY BALANCE.FIY_0) AS D10, 
				SUM(CDTLED_10)  OVER (PARTITION BY BALANCE.FIY_0) AS C10, 
				SUM(DEBLED_11)  OVER (PARTITION BY BALANCE.FIY_0) AS D11, 
				SUM(CDTLED_11)  OVER (PARTITION BY BALANCE.FIY_0) AS C11, 
				SUM(DEBLED_12)  OVER (PARTITION BY BALANCE.FIY_0) AS D12, 
				SUM(CDTLED_12)  OVER (PARTITION BY BALANCE.FIY_0) AS C12
		FROM GACCOUNT 
		LEFT JOIN BALANCE 
				ON GACCOUNT.ACC_0 = BALANCE.ACC_0 
					AND GACCOUNT.COA_0 = BALANCE.COA_0 
		INNER JOIN FISCALYEAR 
				ON FISCALYEAR.FIYNUM_0 = BALANCE.FIY_0 
					AND BALANCE.CPY_0 = FISCALYEAR.CPY_0 
					AND BALANCE.LEDTYP_0 = FISCALYEAR.LEDTYP_0 
		WHERE 
			BALANCE.FCY_0=#{Site} 
				AND BALANCE.BPR_0=''
				<if test = "AccountNOs.length ==1 ">
				AND GACCOUNT.ACC_0 = 
					<foreach item="item" index="index" collection="AccountNOs" open="" separator="" close="">
					#{item}
					</foreach>
				</if>
				<if test = "AccountNOs.length >1 ">
				AND GACCOUNT.ACC_0 IN 
					<foreach item="item" index="index" collection="AccountNOs" open="(" separator="," close=")">
					#{item}
					</foreach>
				</if>
				<if test = " Year != '' ">
				AND FISCALYEAR.DESSHO_0 = #{Year}
				</if>
		) AS T1
	</select>
	
		
	<select id="findAccoutBalanceForAll" resultType="sageassistant.model.FinancialBalance">
		SELECT 
			T1.AccountNO,
			T1.Currency, 
			T1.Year,
			D0-C0 AS A0,
			D0+D1-C0-C1 AS A1,
			D0+D1+D2-C0-C1-C2 AS A2,
			D0+D1+D2+D3-C0-C1-C2-C3 AS A3,
			D0+D1+D2+D3+D4-C0-C1-C2-C3-C4 AS A4,
			D0+D1+D2+D3+D4+D5-C0-C1-C2-C3-C4-C5 AS A5,
			D0+D1+D2+D3+D4+D5+D6-C0-C1-C2-C3-C4-C5-C6 AS A6,
			D0+D1+D2+D3+D4+D5+D6+D7-C0-C1-C2-C3-C4-C5-C6-C7 AS A7,
			D0+D1+D2+D3+D4+D5+D6+D7+D8-C0-C1-C2-C3-C4-C5-C6-C7-C8 AS A8,
			D0+D1+D2+D3+D4+D5+D6+D7+D8+D9-C0-C1-C2-C3-C4-C5-C6-C7-C8-C9 AS A9,
			D0+D1+D2+D3+D4+D5+D6+D7+D8+D9+D10-C0-C1-C2-C3-C4-C5-C6-C7-C8-C9-C10 AS A10,
			D0+D1+D2+D3+D4+D5+D6+D7+D8+D9+D10+D11-C0-C1-C2-C3-C4-C5-C6-C7-C8-C9-C10-C11 AS A11,
			D0+D1+D2+D3+D4+D5+D6+D7+D8+D9+D10+D11+D12-C0-C1-C2-C3-C4-C5-C6-C7-C8-C9-C10-C11-C12 AS A12,
			D0-C0 AS B0,
			D1-C1 AS B1,
			D2-C2 AS B2,
			D3-C3 AS B3,
			D4-C4 AS B4,
			D5-C5 AS B5,
			D6-C6 AS B6,
			D7-C7 AS B7,
			D8-C8 AS B8,
			D9-C9 AS B9,
			D10-C10 AS B10,
			D11-C11 AS B11,
			D12-C12 AS B12,
			T1.C0,
			T1.C1,
			T1.C2,
			T1.C3,
			T1.C4,
			T1.C5,
			T1.C6,
			T1.C7,
			T1.C8,
			T1.C9,
			T1.C10,
			T1.C11,
			T1.C12,
			T1.D0,
			T1.D1,
			T1.D2,
			T1.D3,
			T1.D4,
			T1.D5,
			T1.D6,
			T1.D7,
			T1.D8,
			T1.D9,
			T1.D10,
			T1.D11,
			T1.D12
		FROM (
		SELECT DISTINCT
				BALANCE.ACC_0 AS AccountNO,
				BALANCE.CURLED_0 AS Currency,
				FISCALYEAR.DESSHO_0 AS Year,
				SUM(DEBLED_0) OVER (PARTITION BY BALANCE.ACC_0, BALANCE.FIY_0) AS D0, 
				SUM(CDTLED_0) OVER (PARTITION BY BALANCE.ACC_0, BALANCE.FIY_0) AS C0, 
				SUM(DEBLED_1) OVER (PARTITION BY BALANCE.ACC_0, BALANCE.FIY_0) AS D1, 
				SUM(CDTLED_1) OVER (PARTITION BY BALANCE.ACC_0, BALANCE.FIY_0) AS C1, 
				SUM(DEBLED_2) OVER (PARTITION BY BALANCE.ACC_0, BALANCE.FIY_0) AS D2, 
				SUM(CDTLED_2) OVER (PARTITION BY BALANCE.ACC_0, BALANCE.FIY_0) AS C2, 
				SUM(DEBLED_3)  OVER (PARTITION BY BALANCE.ACC_0, BALANCE.FIY_0) AS D3, 
				SUM(CDTLED_3)  OVER (PARTITION BY BALANCE.ACC_0, BALANCE.FIY_0) AS C3, 
				SUM(DEBLED_4)  OVER (PARTITION BY BALANCE.ACC_0, BALANCE.FIY_0) AS D4, 
				SUM(CDTLED_4)  OVER (PARTITION BY BALANCE.ACC_0, BALANCE.FIY_0) AS C4, 
				SUM(DEBLED_5)  OVER (PARTITION BY BALANCE.ACC_0, BALANCE.FIY_0) AS D5, 
				SUM(CDTLED_5)  OVER (PARTITION BY BALANCE.ACC_0, BALANCE.FIY_0) AS C5, 
				SUM(DEBLED_6)  OVER (PARTITION BY BALANCE.ACC_0, BALANCE.FIY_0) AS D6, 
				SUM(CDTLED_6)  OVER (PARTITION BY BALANCE.ACC_0, BALANCE.FIY_0) AS C6, 
				SUM(DEBLED_7)  OVER (PARTITION BY BALANCE.ACC_0, BALANCE.FIY_0) AS D7, 
				SUM(CDTLED_7)  OVER (PARTITION BY BALANCE.ACC_0, BALANCE.FIY_0) AS C7, 
				SUM(DEBLED_8)  OVER (PARTITION BY BALANCE.ACC_0, BALANCE.FIY_0) AS D8, 
				SUM(CDTLED_8)  OVER (PARTITION BY BALANCE.ACC_0, BALANCE.FIY_0) AS C8,
				SUM(DEBLED_9)  OVER (PARTITION BY BALANCE.ACC_0, BALANCE.FIY_0) AS D9, 
				SUM(CDTLED_9)  OVER (PARTITION BY BALANCE.ACC_0, BALANCE.FIY_0) AS C9, 
				SUM(DEBLED_10)  OVER (PARTITION BY BALANCE.ACC_0, BALANCE.FIY_0) AS D10, 
				SUM(CDTLED_10)  OVER (PARTITION BY BALANCE.ACC_0, BALANCE.FIY_0) AS C10, 
				SUM(DEBLED_11)  OVER (PARTITION BY BALANCE.ACC_0, BALANCE.FIY_0) AS D11, 
				SUM(CDTLED_11)  OVER (PARTITION BY BALANCE.ACC_0, BALANCE.FIY_0) AS C11, 
				SUM(DEBLED_12)  OVER (PARTITION BY BALANCE.ACC_0, BALANCE.FIY_0) AS D12, 
				SUM(CDTLED_12)  OVER (PARTITION BY BALANCE.ACC_0, BALANCE.FIY_0) AS C12
		FROM GACCOUNT 
		LEFT JOIN BALANCE 
				ON GACCOUNT.ACC_0 = BALANCE.ACC_0 
					AND GACCOUNT.COA_0 = BALANCE.COA_0 
		INNER JOIN FISCALYEAR 
				ON FISCALYEAR.FIYNUM_0 = BALANCE.FIY_0 
					AND BALANCE.CPY_0 = FISCALYEAR.CPY_0 
					AND BALANCE.LEDTYP_0 = FISCALYEAR.LEDTYP_0 
		WHERE 
			BALANCE.FCY_0=#{Site} 
				AND BALANCE.BPR_0=''
				<if test = " Year != '' ">
				AND FISCALYEAR.DESSHO_0 = #{Year}
				</if>
		) AS T1
	</select>

</mapper>