<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sageassistant.dao.InvoiceMapper">
	<cache eviction="LRU" flushInterval="3600000" readOnly="true" size="1024"/>
	<select id="findInvoiceNOByInvoiceNO"
		resultType="java.lang.String">
		SELECT DISTINCT
			SINVOICE.NUM_0 AS InvoiceNO
		FROM
			EXPLOIT.SINVOICE SINVOICE
		WHERE 
			SINVOICE.NUM_0 LIKE #{InvoiceNO}
	</select>	
	<select id="findInvoiceHeaderByInvoiceNO"
		resultType="sageassistant.model.InvoiceHeader">
		SELECT DISTINCT
			SINVOICE.FCY_0 AS Facility,
			SINVOICE.CUR_0 AS Currency,
			SINVOICE.NUM_0 AS InvoiceNO,
			SINVOICE.ACCDAT_0 AS CreateDate,
			SINVOICE.AMTATI_0 AS AmountTaxInclude,
			SINVOICE.AMTNOT_0 AS AmountTaxNotInclude,
			SINVOICE.AMTTAX_0 AS AmountTax,
			SINVOICE.RATMLT_0 AS CurrRate,
			SINVOICE.YFAPIAO_0 AS FaPiao,
			SINVOICE.BPR_0 + ' '+ SINVOICE.BPRNAM_0 + ' '+ SINVOICE.BPRNAM_1 As Customer,
			SINVOICE.POSCOD_0 + ' '+ SINVOICE.CRY_0 + ' '+ SINVOICE.CRYNAM_0 + ' '+ SINVOICE.SAT_0 + ' '+ SINVOICE.CTY_0 +' '+  SINVOICE.BPAADDLIG_0 + ' '+ SINVOICE.BPAADDLIG_1 + ' '+ SINVOICE.BPAADDLIG_2 AS Address
		FROM
			EXPLOIT.SINVOICE SINVOICE
		WHERE 
			SINVOICE.NUM_0 =#{InvoiceNO}
	</select>
	<select id="findInvoiceBodyByInvoiceNO"
		resultType="sageassistant.model.InvoiceBody">
		SELECT DISTINCT
			SINVOICED.SIDLIN_0 AS Line,
			IIF((SINVOICED.ECCVALMAJ_0='#' OR SINVOICED.ECCVALMAJ_0 ='' ),SINVOICED.ITMREF_0,SINVOICED.ITMREF_0+'_'+SINVOICED.ECCVALMAJ_0) AS PN,
			SINVOICED.ITMDES_0 AS Description,
			SINVOICED.QTY_0 AS Qty,
			SINVOICED.SAU_0 AS Unit,
			SINVOICED.NETPRI_0 AS NetPrice,
			SINVOICED.AMTNOTLIN_0 AS AmountNoTax,
			SINVOICED.RATTAXLIN_0 AS TaxRate,
			SINVOICED.AMTTAXLIN_0 AS AmountTax,
			SINVOICED.AMTATILIN_0 AS AmountTaxInclude
		FROM EXPLOIT.SINVOICED SINVOICED
		WHERE
			SINVOICED.NUM_0 =#{InvoiceNO}
	</select>
</mapper>