<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sageassistant.dao.PnMapper">
    <!--Open L2 Cache under Names pace: 1 Hour-->
    <cache eviction="LRU" flushInterval="3600000" readOnly="true" size="1024"/>
    <select id="findPnByLike" parameterType="String" resultType="sageassistant.model.PnRootPn">
        SELECT DISTINCT
		    XITM_RACIN_0 AS PNROOT,
		    ITMREF_0 AS PN
		FROM ITMMASTER
		WHERE ITMREF_0 LIKE #{pnOrPnRoot}
		    or XITM_RACIN_0 LIKE #{pnOrPnRoot}
		ORDER BY XITM_RACIN_0 ASC, ITMREF_0 DESC
    </select>    
    <select id="findAllPnByPnRoot" parameterType="String" resultType="sageassistant.model.PnDetails">
        SELECT
		    ITMREF_0 AS PN,
		    XITM_RACIN_0 AS PNROOT,
		    TSICOD_0 AS Cat,
		    XITM_IND_0 AS Version,
		    YITM_SUP_0 AS WC,
		    ITMDES1_0 AS Desc1,
		    ITMDES2_0 AS Desc2,
		    ITMDES3_0 AS Desc3,
		    ITMSTA_0 AS Status,
		    CREDAT_0 AS CreateDate
		FROM ITMMASTER
		WHERE XITM_RACIN_0 = #{pnRoot}
		ORDER BY XITM_IND_0 DESC, YITM_SUP_0 DESC, PN DESC
    </select>    
    <select id="findSalesHistoryByPnRoot" parameterType="String" resultType="sageassistant.model.SalesHistory">
       SELECT
		    SORDERP.SALFCY_0 AS SalesSite,
		    SORDERP.SOHNUM_0 AS OrderNO,
		    SORDER.ORDDAT_0 AS OrderDate,
		    SORDER.BPCORD_0 AS CustomerCode,
		    SORDER.BPCNAM_0 AS CustomerName,
		    SORDERP.ITMREF_0 AS PN,
		    SORDERQ.QTY_0 AS QTY,
		    SORDERP.NETPRI_0 AS NetPrice,
		    SORDER.CUR_0 AS Currency		    
		FROM SORDERP
		INNER JOIN SORDERQ
		    ON SORDERQ.SOHNUM_0 = SORDERP.SOHNUM_0
		        AND SORDERQ.SOPLIN_0 = SORDERP.SOPLIN_0
		LEFT JOIN SORDER
		    ON SORDERP.SOHNUM_0 = SORDER.SOHNUM_0
		LEFT JOIN ITMMASTER
		    ON SORDERP.ITMREF_0 = ITMMASTER.ITMREF_0
		WHERE
		     SORDERP.NETPRI_0 > 0   AND ITMMASTER.XITM_RACIN_0 = #{pnRoot}
    </select>  
    <select id="findQuoteHistoryByPnRoot" parameterType="String" resultType="sageassistant.model.QuoteHistory">
	    SELECT
		    SQUOTED.SALFCY_0 AS SalesSite,
		    SQUOTED.SQHNUM_0 AS QuoteNO,
		    SQUOTED.QUODAT_0 AS QuoteDate,
		    SQUOTE.BPCORD_0 AS CustomerCode,
		    SQUOTE.BPCNAM_0 AS CustomerName,
		    SQUOTED.ITMREF_0 AS PN,
		    SQUOTED.QTY_0 AS QTY,
		    SQUOTED.NETPRI_0 AS NetPrice,
		    SQUOTE.CUR_0 AS Currency,
		    SQUOTED.ORDFLG_0 AS OrderFlag,
		    SQUOTED.SOHNUM_0 AS OrderNO
		FROM SQUOTED
		    LEFT JOIN SQUOTE
		    ON SQUOTED.SQHNUM_0=SQUOTE.SQHNUM_0
		    LEFT JOIN ITMMASTER
		    ON SQUOTED.ITMREF_0=ITMMASTER.ITMREF_0
		WHERE 
		    SQUOTED.NETPRI_0 > 0   AND ITMMASTER.XITM_RACIN_0 = #{pnRoot}
     </select>
     <select id="findDeliveryDurationByPnRoot" parameterType="String" resultType="sageassistant.model.DeliveryDuration">
		SELECT SORDERP.SALFCY_0 AS SalesSite,
		    MIN(DateDiff(day, SORDER.ORDDAT_0,SORDER.SHIDAT_0)) AS MIN,
		    AVG(DateDiff(day, SORDER.ORDDAT_0,SORDER.SHIDAT_0)) AS AVG,
		    MAX(DateDiff(day, SORDER.ORDDAT_0,SORDER.SHIDAT_0)) AS MAX
		FROM SORDERP
		    LEFT JOIN SORDER
		    ON SORDERP.SOHNUM_0=SORDER.SOHNUM_0
		    LEFT JOIN ITMMASTER
		    ON SORDERP.ITMREF_0=ITMMASTER.ITMREF_0
		WHERE 
		    ITMMASTER.XITM_RACIN_0=#{pnRoot}
		    AND DateDiff(day, SORDER.ORDDAT_0,SORDER.SHIDAT_0) != 0
		GROUP BY SORDERP.SALFCY_0
     </select>
     <select id="findStockInfoByPnRoot" parameterType="String" resultType="sageassistant.model.StockInfo">
	    SELECT 
		    STOCK.STOFCY_0 AS StockSite,
		    STOCK.ITMREF_0 AS PN,
		    COUNT(STOCK.QTYSTU_0) AS QTY
		FROM EXPLOIT.STOCK
		    LEFT JOIN EXPLOIT.ITMMASTER
		    ON ITMMASTER.ITMREF_0=STOCK.ITMREF_0
		WHERE 
		    ITMMASTER.XITM_RACIN_0=#{pnRoot}
		GROUP BY STOCK.STOFCY_0,
		         STOCK.ITMREF_0
      </select>
      
      <select id="findObseletPnBySite" parameterType="String" resultType="sageassistant.model.PnStatus">
        SELECT
		   ITMMASTER.ITMREF_0 AS PN,
		   ITMMASTER.ITMDES1_0 AS Desc1,
		   ITMMASTER.ITMDES2_0 AS Desc2,
		   ITMMASTER.ITMDES3_0 AS Desc3,
		   (CASE WHEN ITMMASTER.ITMSTA_0 =1 THEN 'Active' 
			WHEN ITMMASTER.ITMSTA_0 =2 THEN 'InDevelopment'
			WHEN ITMMASTER.ITMSTA_0 =3 THEN 'OnShortage'
			WHEN ITMMASTER.ITMSTA_0 =4 THEN 'NotRenewed'
			WHEN ITMMASTER.ITMSTA_0 =5 THEN 'Obsolete'
			WHEN ITMMASTER.ITMSTA_0 =6 THEN 'NotUsable' 
			ELSE 'UNK' END) AS PNStatus,
			ITMMASTER.YITM_SUP_0 AS WC,
			SORDERQ.YSOH_PJT_0 AS ProjectNO,
			 SORDER.BPCORD_0 AS CustomerCode,
	        SORDER.BPCNAM_0 AS CustomerName
		FROM EXPLOIT.SORDERQ AS SORDERQ
		   LEFT JOIN EXPLOIT.ITMMASTER AS ITMMASTER
	        ON ITMMASTER.ITMREF_0 = SORDERQ.ITMREF_0
			 LEFT JOIN EXPLOIT.SORDER
	         ON SORDERQ.SOHNUM_0 = SORDER.SOHNUM_0 
		WHERE 
		  SORDERQ.SOQSTA_0 != 3 AND (ITMMASTER.ITMSTA_0 !=1 OR ITMMASTER.YITM_SUP_0 ='NQ') AND  SORDERQ.SALFCY_0=#{site}
    </select> 
</mapper>