<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sageassistant.dao.RptMapper">
    <select id="findCOCByProjectNO" resultType="sageassistant.model.RptCOC">
		SELECT DISTINCT
			SORDER.SOHNUM_0
			,SORDER.SALFCY_0
			,SORDER.BPCNAM_0
			,SORDER.BPCNAM_1
			,SORDER.BPCADDLIG_0
			,SORDER.BPCADDLIG_1
			,SORDER.BPCADDLIG_2
			,SORDER.BPCPOSCOD_0
			,SORDER.BPCCTY_0
			,SORDER.BPCSAT_0
			,SORDER.BPCCRY_0
			,SORDER.BPCCRYNAM_0
			,SORDER.BPCORD_0
			,SORDER.SOHTYP_0
			,SORDER.CUSORDREF_0
			,SORDERQ.YSOH_PJT_0
			,SORDERQ.YSOH_ITEM_0
			,SORDERQ.YSOQ_BPCPN_0
			,SORDERQ.YAUTREN_0
			,SORDERQ.QTY_0
			,SORDERP.ITMREFBPC_0
			,ITMBPC.ITMDESBPC_0
			,TEXCLOB.TEXTE_0
			,SORDERQ.ITMREF_0
			,SORDERP.ITMDES_0
			,SORDERP.ITMDES2_0
			,SORDERP.ITMDES3_0
			,SORDERQ.ECCVALMAJ_0
		FROM EXPLOIT.SORDER SORDER
			LEFT JOIN EXPLOIT.SORDERQ SORDERQ
				ON SORDER.SOHNUM_0 = SORDERQ.SOHNUM_0
			LEFT JOIN EXPLOIT.SORDERP SORDERP
				ON SORDERQ.SOHNUM_0 = SORDERP.SOHNUM_0
					AND SORDERQ.SOPLIN_0 = SORDERP.SOPLIN_0
			LEFT JOIN EXPLOIT.ITMBPC ITMBPC
				ON SORDERQ.ITMREF_0 = ITMBPC.ITMREF_0
					AND ITMBPC.BPCNUM_0 = SORDER.BPCORD_0
			LEFT JOIN EXPLOIT.TEXCLOB TEXCLOB
				ON SORDERQ.YAUTREN_0 = TEXCLOB.CODE_0
				/*	AND (
					(ITMMASTER.SERMGTCOD_0 IS NOT NULL AND ITMMASTER.SERMGTCOD_0 != 1)
					OR
					(ITMMASTER.LOTMGTCOD_0 IS NOT NULL AND ITMMASTER.LOTMGTCOD_0 != 1)
					)*/
		WHERE (SORDERQ.SOHNUM_0 + '-' + CAST(SORDERQ.YSOH_ITEM_0 AS varchar)  =  #{ProjectNO})
			OR SORDERQ.YSOH_PJT_0 = #{ProjectNO}
    </select>
    <select id="findCOCSerialLotByProjectNOAndPn" resultType="sageassistant.model.RptCOCSerialLot">
		SELECT IIF(LEN(SER) =0, 'LOT',  'SER') AS Type,
				IIF(LEN(SER) =0,  LOT,  SER) AS SERLOT
		FROM (SELECT 
			STUFF(
				(SELECT DISTINCT 
				 ';' + SERNUM_0
				FROM 
					STOJOU
				WHERE 
					STOJOU.PJT_0=#{ProjectNO} and STOJOU.ITMREF_0=#{PN}
				FOR XML PATH('')),
			1,1,'') AS SER,
			STUFF(
				(SELECT DISTINCT 
				 ';' + LOT_0
				FROM 
					STOJOU
				WHERE 
					STOJOU.PJT_0=#{ProjectNO} and STOJOU.ITMREF_0=#{PN}
				FOR XML PATH('')),
			1,1,'') AS LOT
		) AS T1
    </select>
    <select id="findPurchaseByPurchaseNO" resultType="sageassistant.model.RptPurchase">
    SELECT
		AUTILIS.NOMUSR_0,
		AUTILIS.ADDEML_0,
		PORDER.POHFCY_0,
		PORDER.POHNUM_0,
		PORDER.ORDREF_0,
		PORDER.ORDDAT_0,
	    PORDER.MDL_0,
	    PORDER.PTE_0,
		PORDER.BPSNUM_0,
		PORDER.BPRNAM_0,
		PORDER.BPRNAM_1,
		PORDER.BPAADDLIG_0,
		PORDER.BPAADDLIG_1,
		PORDER.BPAADDLIG_2,
		PORDER.POSCOD_0,
		PORDER.CTY_0,
		PORDER.SAT_0,
		PORDER.CRY_0,
		PORDER.CRYNAM_0,
		PORDER.CUR_0,
		PORDER.TOTORD_0,
		PORDER.TTVORD_0,
		PORDER.BPTNUM_0,
	    BPCARRIER.BPTNAM_0,
	    BPARTNER.EECNUM_0,
	    BPADDRESS_SUPPLIER.TEL_0,
	    BPADDRESS_SUPPLIER.FAX_0,
	    BPADDRESS_BUY.CRY_0 AS CRY_BUY,
	    BPADDRESS_BUY.TEL_0 AS TEL_BUY,
	    BPADDRESS_BUY.FAX_0 AS FAX_BUY,
		PORDERP.POPLIN_0,
		PORDERP.ITMREF_0,
		PORDERP.ITMDES_0,
		PORDERP.ITMDES2_0,
		PORDERP.ITMDES3_0,
		PORDERP.DISCRGVAL1_0,
		PORDERP.PJT_0,
		PORDERQ.EXTRCPDAT_0,
		PORDERQ.LINAMT_0,
		PORDERQ.LINATIAMT_0,
		PORDERQ.QTYUOM_0,
		PORDERQ.QTYSTU_0,
		PORDERQ.UOM_0,
		PORDERQ.STU_0,
		PORDERQ.YSOQ_BPCSN_0,
		PORDERQ.YSOQ_PAINT_0,
		ITMBPS.ITMDESBPS_0,
		ITMBPS.ITMREFBPS_0,
		TEXCLOB_ENT.TEXTE_0 AS TEXTE_ENT,
		TEXCLOB_FIN.TEXTE_0 AS TEXTE_FIN,
		TEXCLOB_LIN.TEXTE_0 AS TEXTE_LIN
	FROM
		EXPLOIT.PORDER PORDER
	LEFT JOIN EXPLOIT.AUTILIS AUTILIS ON PORDER.BUY_0 = AUTILIS.USR_0
	LEFT JOIN EXPLOIT.BPCARRIER BPCARRIER ON PORDER.BPTNUM_0 = BPCARRIER.BPTNUM_0
	LEFT JOIN EXPLOIT.BPARTNER BPARTNER ON PORDER.BPSNUM_0 = BPARTNER.BPRNUM_0
	LEFT JOIN EXPLOIT.PORDERP PORDERP ON PORDER.POHNUM_0 = PORDERP.POHNUM_0
	LEFT JOIN EXPLOIT.PORDERQ PORDERQ ON PORDERP.POHNUM_0 = PORDERQ.POHNUM_0 AND PORDERP.POPLIN_0 = PORDERQ.POPLIN_0 AND PORDERP.POPSEQ_0 = PORDERQ.POQSEQ_0
	LEFT JOIN EXPLOIT.BPADDRESS BPADDRESS_SUPPLIER ON PORDER.BPAADD_0 = BPADDRESS_SUPPLIER.BPAADD_0 AND PORDER.BPSNUM_0 = BPADDRESS_SUPPLIER.BPANUM_0
	LEFT JOIN EXPLOIT.BPADDRESS BPADDRESS_BUY ON PORDER.BUY_0 = BPADDRESS_BUY.BPANUM_0
	LEFT JOIN EXPLOIT.ITMBPS ITMBPS ON PORDERQ.BPSNUM_0 = ITMBPS.BPSNUM_0 AND PORDERQ.ITMREF_0 = ITMBPS.ITMREF_0
	LEFT JOIN EXPLOIT.TEXCLOB TEXCLOB_LIN ON PORDERQ.LINTEX_0 = TEXCLOB_LIN.CODE_0
	LEFT JOIN EXPLOIT.TEXCLOB TEXCLOB_ENT ON PORDER.TEX1_0 = TEXCLOB_ENT.CODE_0
	LEFT JOIN EXPLOIT.TEXCLOB TEXCLOB_FIN ON PORDER.TEX2_0 = TEXCLOB_FIN.CODE_0
	WHERE
		PORDER.POHNUM_0 = #{PurchaseNO}
	ORDER BY
	  PORDERP.POPLIN_0    
    </select>
    <select id="findPurchaseTaxByPurchaseNO" resultType="sageassistant.model.RptPurchaseTax">
      SELECT VATRAT_0,AMTTAX_0 FROM PVCRVAT WHERE PVCRVAT.POHNUM_0=#{PurchaseNO}
    </select>
    <select id="findWorkOrderByProjectOrWorkOrderNO" resultType="sageassistant.model.RptWorkOrder">
    SELECT 
         MFGITM.MFGNUM_0,
         MFGITM.ITMREF_0,
         SORDERP.ITMDES1_0,
         SORDERP.ITMDES2_0, 
         SORDERP.ITMDES3_0,
         SORDERQ.ECCVALMAJ_0,
         ITMMASTER.SERMGTCOD_0,
         ITMMASTER.LOTMGTCOD_0,
         MFGITM.MFGFCY_0,
         MFGITM.PJT_0,
         MFGITM.UOMEXTQTY_0,
         MFGITM.UOM_0,
         MFGITM.STRDAT_0,
         MFGITM.ENDDAT_0,
         SORDERQ.DEMDLVDAT_0,
         FACILITY.FCYNAM_0,
         SORDER.CUSORDREF_0,
         SORDER.ORDDAT_0,
         SORDER.BPCORD_0,
         SORDER.BPCNAM_0
	FROM EXPLOIT.MFGITM MFGITM
	LEFT JOIN EXPLOIT.FACILITY FACILITY
	    ON MFGITM.MFGFCY_0=FACILITY.FCY_0
	LEFT JOIN EXPLOIT.OPPOR OPPOR
	    ON OPPOR.OPPNUM_0=MFGITM.PJT_0
	LEFT JOIN EXPLOIT.SORDERQ SORDERQ
	    ON MFGITM.PJT_0=SORDERQ.YSOH_PJT_0 
		AND OPPOR.OPPORIVCR_0=SORDERQ.SOHNUM_0
		AND OPPOR.OPPORIVCRL_0=SOPLIN_0
	LEFT JOIN EXPLOIT.SORDER SORDER
	    ON SORDERQ.SOHNUM_0=SORDER.SOHNUM_0
	LEFT JOIN EXPLOIT.SORDERP SORDERP
	    ON SORDERQ.SOHNUM_0=SORDERP.SOHNUM_0
		   AND SORDERQ.SOPLIN_0 = SORDERP.SOPLIN_0
	LEFT JOIN EXPLOIT.ITMMASTER ITMMASTER
	    ON MFGITM.ITMREF_0=ITMMASTER.ITMREF_0

	WHERE MFGITM.PJT_0=#{ProjectOrWorkOrderNO} or MFGITM.MFGNUM_0=#{ProjectOrWorkOrderNO}
	ORDER BY  MFGITM.MFGNUM_0    
    </select>
    <select id="findWorkOrderCompByMfgNO" resultType="sageassistant.model.RptWorkOrderComp">
    SELECT 
         MFGMAT.MFGNUM_0,
         MFGMAT.ITMREF_0,
         MFGMAT.RETQTY_0,
         MFGMAT.BOMQTY_0,
         MFGMAT.STU_0,
         MFGMAT.MFGFCY_0,
         ITMMASTER.PURTEX_0,
         MFGMAT.MFMTEX_0,
         ITMMASTER.ITMDES1_0,
         ITMMASTER.ITMDES2_0,
         ITMMASTER.ITMDES3_0,
         MFGMAT.MATSTA_0,
         MFGMAT.BOMSEQ_0,
         TEXCLOB.TEXTE_0,
         TEXCLOB_ACH.TEXTE_0 AS TEXTE_ACH_0
	FROM EXPLOIT.MFGMAT MFGMAT
	 LEFT OUTER JOIN EXPLOIT.ITMMASTER ITMMASTER
	    ON MFGMAT.ITMREF_0=ITMMASTER.ITMREF_0
	 LEFT OUTER JOIN EXPLOIT.TEXCLOB TEXCLOB
	    ON MFGMAT.MFMTEX_0=TEXCLOB.CODE_0
	LEFT OUTER JOIN EXPLOIT.TEXCLOB TEXCLOB_ACH
	    ON ITMMASTER.PURTEX_0=TEXCLOB_ACH.CODE_0 
	WHERE
	 MFGMAT.MATSTA_0 !=4 AND
	 MFGMAT.MFGNUM_0=#{MfgNO}    
    </select>
    <select id="findWorkOrderOpesttByMfgNO" resultType="sageassistant.model.RptWorkOrderOpestt">
	SELECT 
         ATEXTRA.TEXTE_0 AS ATEXTRA_TEXTE,
         MFGOPE.SCOITMREF_0,
         ITMMASTER.ITMDES1_0,
         ITMMASTER.ITMDES2_0,
         ITMMASTER.ITMDES3_0,
         MFGOPE.BASQTY_0,
         MFGOPE.EXTQTY_0,
         MFGOPE.OPESTA_0,
         MFGOPE.OPEUOM_0,
         TEXCLOB.TEXTE_0
	FROM EXPLOIT.MFGOPE MFGOPE
	INNER JOIN EXPLOIT.ITMMASTER ITMMASTER
	    ON MFGOPE.SCOITMREF_0=ITMMASTER.ITMREF_0
	LEFT JOIN EXPLOIT.WORKSTATIO WORKSTATIO
	    ON MFGOPE.EXTWST_0=WORKSTATIO.WST_0
	LEFT JOIN EXPLOIT.TEXCLOB TEXCLOB
	    ON ITMMASTER.PURTEX_0=TEXCLOB.CODE_0
	LEFT JOIN EXPLOIT.ATEXTRA ATEXTRA
	    ON WORKSTATIO.WST_0=ATEXTRA.IDENT1_0
	WHERE WORKSTATIO.WSTTYP_0=3
	        AND MFGOPE.OPESTA_0 != 6
	        AND ATEXTRA.CODFIC_0 = 'WORKSTATIO'
	        AND ATEXTRA.ZONE_0 = 'WSTDESAXX'
	        AND ATEXTRA.LANGUE_0 = 'ENG'
	        AND MFGOPE.MFGNUM_0= #{MfgNO}
	ORDER BY  MFGOPE.MFGNUM_0    
    </select>
    <select id="findWorkOrderSfichsuiByMfgNO" resultType="sageassistant.model.RptWorkOrderSfichsui">
		SELECT 
	         ATEXTRA.TEXTE_0 AS ATEXTRA_TEXTE,
	         MFGOPE.OPENUM_0,
	         MFGOPE.EXTOPETIM_0,
	         MFGOPE.EXTSETTIM_0,
	         MFGOPE.EXTUNTTIM_0,
	         MFGOPE.EXTWST_0,
	         MFGOPE.MFGFCY_0,
	         MFGOPE.MFGNUM_0,
	         MFGOPE.OPESTA_0,
	         MFGOPE.ROODES_0,
	         MFGOPE.SCOITMREF_0,
	         SCHEDULING.DACMST_0,
	         SCHEDULING.MFGMST_0,
	         TEXCLOB.TEXTE_0,
	         WORKSTATIO.WCR_0,
	         WORKSTATIO.WSTTYP_0
		
		FROM EXPLOIT.MFGOPE MFGOPE
		 LEFT OUTER JOIN EXPLOIT.WORKSTATIO WORKSTATIO
		    ON MFGOPE.EXTWST_0=WORKSTATIO.WST_0
		 LEFT OUTER JOIN EXPLOIT.TEXCLOB TEXCLOB
		    ON MFGOPE.MFOTEX_0=TEXCLOB.CODE_0
		 LEFT OUTER JOIN EXPLOIT.SCHEDULING SCHEDULING
		    ON MFGOPE.MFGNUM_0=SCHEDULING.MFGNUM_0
		        AND MFGOPE.OPENUM_0=SCHEDULING.OPENUM_0
		        AND MFGOPE.OPESPLNUM_0=SCHEDULING.OPESPLNUM_0
		 LEFT OUTER JOIN EXPLOIT.ATEXTRA ATEXTRA
		    ON WORKSTATIO.WST_0=ATEXTRA.IDENT1_0
		WHERE 
		        MFGOPE.OPESTA_0 != 6
		        AND ATEXTRA.CODFIC_0=N'WORKSTATIO'
		        AND ATEXTRA.ZONE_0=N'WSTDESAXX'
		        AND ATEXTRA.LANGUE_0='ENG'
		        AND  MFGOPE.MFGNUM_0=#{MfgNO}
		ORDER BY  MFGOPE.OPENUM_0  
    </select>
    <select id="findDeliveryByDeliveryNO" resultType="sageassistant.model.RptDelivery">
     SELECT
        BPCARRIER.BPTNAM_0,  
        SDELIVERY.SDHNUM_0,
        SDELIVERY.SHIDAT_0,
        SDELIVERY.SALFCY_0,
		SDELIVERY.SOHNUM_0 AS SOHNUM_ONE,
		IIF(SDELIVERY.SOHNUM_0='',null,SORDERQ.ORDDAT_0) AS ORDDAT_ONE,
		SDELIVERY.YBPDTRSP_0,
        SDELIVERY.PACNBR_0,
        SDELIVERY.NETWEI_0 AS NETWEI_SDE,
        SDELIVERY.GROWEI_0,
        SDELIVERY.WEU_0 AS WEU_DLI,
        SDELIVERY.EECICT_0,
        SDELIVERY.CFMFLG_0,
        SDELIVERY.BPCORD_0,
        SDELIVERY.BPINAM_0,
        SDELIVERY.BPINAM_1,
        SDELIVERY.BPICTY_0,
        SDELIVERY.BPISAT_0,
        SDELIVERY.BPICRY_0  ,
        SDELIVERY.BPICRYNAM_0,
        SDELIVERY.BPIPOSCOD_0,
        SDELIVERY.BPIADDLIG_0,
        SDELIVERY.BPIADDLIG_1,
        SDELIVERY.BPIADDLIG_2,
        SDELIVERY.BPDNAM_0,
        SDELIVERY.BPDNAM_1,
        SDELIVERY.BPDCTY_0,
        SDELIVERY.BPDSAT_0,
        SDELIVERY.BPDCRY_0  ,
        SDELIVERY.BPDCRYNAM_0,
        SDELIVERY.BPDPOSCOD_0,
        SDELIVERY.BPDADDLIG_0,
        SDELIVERY.BPDADDLIG_1,
        SDELIVERY.BPDADDLIG_2,
        SORDER.CUSORDREF_0 AS CUSORDREF_MULT,
		IIF(SDELIVERY.SOHNUM_0='',null,SORDER.CUSORDREF_0) AS CUSORDREF_ONE,
		SORDER.DLVSTA_0,
        SORDER.BPCNAM_0,
        SORDER.BPCNAM_1,
        SORDER.BPCCTY_0,
        SORDER.BPCSAT_0,
        SORDER.BPCCRY_0,
        SORDER.BPCCRYNAM_0,
        SORDER.BPCPOSCOD_0,
        SORDER.BPCADDLIG_0,
        SORDER.BPCADDLIG_1,
        SORDER.BPCADDLIG_2,
        SDELIVERYD.SDDLIN_0,
        SDELIVERYD.YSOH_ITEM_0,
        SDELIVERYD.SOHNUM_0 AS SOHNUM_MULT,
        SDELIVERYD.ITMREF_0,
        SDELIVERYD.ECCVALMAJ_0,
        SDELIVERYD.ITMDES_0,
        SDELIVERYD.ITMDES2_0,
        ITMMASTER.CUSREF_0,
        SERREQUEST.YSREITM_0,
        SERREQUEST.SRETTR_0,
        SORDERQ.YSOQ_ITEMCUS_0,
		SORDERQ.YSOQ_BPCPN_0,
		SORDERQ.ORDDAT_0 AS ORDDAT_MULT,
        SORDERQ.QTY_0 AS QTY_ORD,
        SORDERQ.ODLQTY_0,
        SORDERQ.DLVQTY_0,
        SPACKD.SERNUM_0,
        SPACKD.QTYPCU_0,
		SPACKD.PCU_0,
        SPACKD.LOT_0,
		SPACKD.YPCKSNCLI_0,
		SPACKD.YPKDTEX_0,
		SPACK.PCK_0,
        SPACK.YPCKWID_0,
        SPACK.YPCKLEN_0,
        SPACK.YPCKHEI_0,
        SPACK.WEU_0 AS WEU_PCK,
        SPACK.NETWEI_0 AS NETWEI_SPK,
        SPACK.PACNUM_0,
		TEXCLOB_DEB.TEXTE_0 AS TEXT_DEB,
		TEXCLOB_DET.TEXTE_0 AS TEXT_DET,
		TEXCLOB_AUTREN.TEXTE_0 AS TEXT_AUTREN
    FROM
        EXPLOIT.SDELIVERY SDELIVERY  
    LEFT JOIN
        EXPLOIT.BPCARRIER BPCARRIER 
            ON SDELIVERY.BPTNUM_0 = BPCARRIER.BPTNUM_0 
    LEFT JOIN
        EXPLOIT.SDELIVERYD SDELIVERYD 
            ON SDELIVERY.SDHNUM_0 = SDELIVERYD.SDHNUM_0  
	LEFT JOIN
        EXPLOIT.SORDER SORDER 
            ON SDELIVERYD.SOHNUM_0 = SORDER.SOHNUM_0  
    INNER JOIN
        EXPLOIT.ITMMASTER ITMMASTER 
            ON SDELIVERYD.ITMREF_0 = ITMMASTER.ITMREF_0  
    LEFT JOIN
        EXPLOIT.SERREQUEST SERREQUEST 
            ON SDELIVERYD.YSOH_PJT_0 = SERREQUEST.SRENUM_0  
    LEFT JOIN
        EXPLOIT.SORDERQ SORDERQ  
            ON SDELIVERYD.SOHNUM_0 = SORDERQ.SOHNUM_0   
            AND SDELIVERYD.SOPLIN_0 = SORDERQ.SOPLIN_0 
	LEFT JOIN
        EXPLOIT.SPACKD SPACKD  
            ON SDELIVERYD.SDHNUM_0 = SPACKD.VCRNUM_0   
            AND SDELIVERYD.SDDLIN_0 = SPACKD.VCRLIN_0 
    LEFT JOIN
        EXPLOIT.SPACK SPACK 
            ON SPACKD.PACNUM_0 = SPACK.PACNUM_0   
	LEFT JOIN 
	    EXPLOIT.TEXCLOB TEXCLOB_DEB
		ON SDELIVERY.SDHTEX1_0=TEXCLOB_DEB.CODE_0
	LEFT JOIN 
	    EXPLOIT.TEXCLOB TEXCLOB_DET
		ON SDELIVERYD.SDDTEX_0=TEXCLOB_DET.CODE_0
	LEFT JOIN 
	    EXPLOIT.TEXCLOB TEXCLOB_AUTREN
		ON SORDERQ.YAUTREN_0=TEXCLOB_AUTREN.CODE_0
    WHERE
        SDELIVERY.SDHNUM_0 = #{DeliveryNo} 
   ORDER BY 
		SDELIVERY.SDHNUM_0,
		SPACK.PACNUM_0,
		SORDER.SOHNUM_0,
		SPACKD.VCRLIN_0,
		SPACKD.SERNUM_0,
		SDELIVERYD.SDDLIN_0    
    </select>
    <select id="findReceiptByReceiptNO" resultType="sageassistant.model.RptReceipt">
	 SELECT DISTINCT
	     FACILITY.FCYNAM_0 ,
         PRECEIPT.PTHNUM_0 ,
         PRECEIPT.BPSNDE_0 ,
         PRECEIPT.BPSNUM_0 ,
         PRECEIPT.INVFLG_0 ,
         PRECEIPT.PRHFCY_0 ,
         PRECEIPT.RCPDAT_0 ,
         PRECEIPT.BPAADD_0 ,
         PRECEIPT.BPONAM_0 ,
         PRECEIPT.BPOADDLIG_0 ,
         PRECEIPT.BPOADDLIG_1 ,
         PRECEIPT.BPOADDLIG_2 ,
         PRECEIPT.BPOCRYNAM_0 ,
         PRECEIPT.BPOCTY_0 ,
         PRECEIPT.BPOPOSCOD_0 ,
         PRECEIPT.BPOSAT_0 ,
         BPSUPPLIER.YBPS_PTE_0 ,
         PRECEIPT.BPSINV_0 ,
         BPADDRESS_PAY.BPAADDLIG_0 AS PAY_BPAADDLIG_0,
         BPADDRESS_PAY.BPAADDLIG_1 AS PAY_BPAADDLIG_1,
         BPADDRESS_PAY.BPAADDLIG_2 AS PAY_BPAADDLIG_2,
         BPADDRESS_PAY.BPADES_0 AS PAY_BPADES_0,
         BPADDRESS_PAY.CRYNAM_0 AS PAY_CRYNAM_0,
         BPADDRESS_PAY.CTY_0 AS PAY_CTY_0 ,
         BPADDRESS_PAY.POSCOD_0 AS PAY_POSCOD_0,
         BPADDRESS_PAY.SAT_0 AS PAY_SAT_0,
         PORDER.POHNUM_0 ,
         PORDER.ORDDAT_0 ,
         PORDER.PTE_0 ,
         PORDERQ.POPLIN_0 ,
	     PRECEIPTD.PTDLIN_0,
	     PRECEIPTD.ITMREF_0,
	     PRECEIPTD.QTYSTU_0,
	     PRECEIPTD.STU_0,
	     PRECEIPTD.NETPRI_0,
	     PRECEIPTD.LINAMT_0,
	     PRECEIPTD.LINATIAMT_0,
	     PRECEIPTD.NETCUR_0,
	     PRECEIPTD.PJT_0,
	     SORDERQ.SOHNUM_0,
	     IsNull(SORDERQ.YSOH_ITEM_0,'') AS YSOH_ITEM_0, -- Without it, report cant work
	     ITMMASTER.ITMDES1_0,
	     ITMMASTER.ITMDES2_0,
	     ITMFACILIT.REOCOD_0,
	     ITMFACILIT.REOMGTCOD_0,
		 ITMBPS.ITMREFBPS_0,
		 STOJOU.STA_0
	FROM EXPLOIT.PRECEIPT PRECEIPT
	LEFT JOIN EXPLOIT.FACILITY FACILITY
	    ON PRECEIPT.PRHFCY_0 = FACILITY.FCY_0
	LEFT JOIN EXPLOIT.BPSUPPLIER BPSUPPLIER
	    ON PRECEIPT.BPSNUM_0 = BPSUPPLIER.BPSNUM_0
	        AND PRECEIPT.BPAADD_0 = BPSUPPLIER.BPAADD_0
	LEFT JOIN EXPLOIT.BPSUPPLIER BPSUPPLIER_PAY
	    ON PRECEIPT.BPSINV_0 = BPSUPPLIER_PAY.BPSNUM_0
	LEFT JOIN EXPLOIT.BPADDRESS BPADDRESS_PAY
	    ON PRECEIPT.BPSINV_0 = BPADDRESS_PAY.BPANUM_0
	        AND BPSUPPLIER_PAY.BPSTYP_0 = BPADDRESS_PAY.BPATYP_0
	        AND BPSUPPLIER_PAY.BPAPAY_0 = BPADDRESS_PAY.BPAADD_0
	LEFT JOIN EXPLOIT.PRECEIPTD PRECEIPTD
	    ON PRECEIPT.PRHFCY_0 = PRECEIPTD.PRHFCY_0
	        AND PRECEIPT.PTHNUM_0 = PRECEIPTD.PTHNUM_0
	LEFT JOIN EXPLOIT.PORDER PORDER
	    ON PRECEIPTD.POHNUM_0 = PORDER.POHNUM_0
	        AND PRECEIPTD.POHFCY_0 = PORDER.POHFCY_0
	LEFT JOIN EXPLOIT.PORDERQ PORDERQ
	    ON PRECEIPTD.POHNUM_0 = PORDERQ.POHNUM_0
	        AND PRECEIPTD.POPLIN_0 = PORDERQ.POPLIN_0
	LEFT JOIN EXPLOIT.SORDERQ SORDERQ
	    ON PRECEIPTD.PJT_0 = SORDERQ.YSOH_PJT_0
	        AND PRECEIPTD.PRHFCY_0 = SORDERQ.SALFCY_0
	        AND PRECEIPTD.ITMREF_0 = SORDERQ.ITMREF_0
	LEFT JOIN EXPLOIT.ITMMASTER ITMMASTER
	    ON PRECEIPTD.ITMREF_0 = ITMMASTER.ITMREF_0
	LEFT JOIN EXPLOIT.ITMFACILIT ITMFACILIT
	    ON PRECEIPTD.ITMREF_0 = ITMFACILIT.ITMREF_0
	        AND PRECEIPTD.PRHFCY_0 = ITMFACILIT.STOFCY_0
	LEFT JOIN EXPLOIT.ITMBPS ITMBPS
	    ON ITMBPS.BPSNUM_0= PRECEIPT.BPSNUM_0 
		  AND ITMBPS.ITMREF_0 = PRECEIPTD.ITMREF_0
	LEFT JOIN EXPLOIT.STOJOU STOJOU
	    ON STOJOU.ITMREF_0 = PRECEIPTD.ITMREF_0
		   AND STOJOU.STOFCY_0 = PRECEIPT.PRHFCY_0
		   AND STOJOU.VCRNUM_0 = PRECEIPT.PTHNUM_0 
		   AND STOJOU.VCRLIN_0 = PRECEIPTD.PTDLIN_0
		   AND STOJOU.TRSTYP_0=3
	WHERE PRECEIPT.PTHNUM_0=#{ReceiptNO}
    </select>
	<select id="findReceiptByPurchaseSiteVenderCodeDuration" resultType="sageassistant.model.RptReceipt">
	 SELECT DISTINCT
	     FACILITY.FCYNAM_0 ,
         PRECEIPT.PTHNUM_0 ,
         PRECEIPT.BPSNDE_0 ,
         PRECEIPT.BPSNUM_0 ,
         PRECEIPT.INVFLG_0 ,
         PRECEIPT.PRHFCY_0 ,
         PRECEIPT.RCPDAT_0 ,
         PRECEIPT.BPAADD_0 ,
         PRECEIPT.BPONAM_0 ,
         PRECEIPT.BPOADDLIG_0 ,
         PRECEIPT.BPOADDLIG_1 ,
         PRECEIPT.BPOADDLIG_2 ,
         PRECEIPT.BPOCRYNAM_0 ,
         PRECEIPT.BPOCTY_0 ,
         PRECEIPT.BPOPOSCOD_0 ,
         PRECEIPT.BPOSAT_0 ,
         BPSUPPLIER.YBPS_PTE_0 ,
         PRECEIPT.BPSINV_0 ,
         BPADDRESS_PAY.BPAADDLIG_0 AS PAY_BPAADDLIG_0,
         BPADDRESS_PAY.BPAADDLIG_1 AS PAY_BPAADDLIG_1,
         BPADDRESS_PAY.BPAADDLIG_2 AS PAY_BPAADDLIG_2,
         BPADDRESS_PAY.BPADES_0 AS PAY_BPADES_0,
         BPADDRESS_PAY.CRYNAM_0 AS PAY_CRYNAM_0,
         BPADDRESS_PAY.CTY_0 AS PAY_CTY_0 ,
         BPADDRESS_PAY.POSCOD_0 AS PAY_POSCOD_0,
         BPADDRESS_PAY.SAT_0 AS PAY_SAT_0,
         PORDER.POHNUM_0 ,
         PORDER.ORDDAT_0 ,
         PORDER.PTE_0 ,
         PORDERQ.POPLIN_0 ,
	     PRECEIPTD.PTDLIN_0,
	     PRECEIPTD.ITMREF_0,
	     PRECEIPTD.QTYSTU_0,
	     PRECEIPTD.STU_0,
	     PRECEIPTD.NETPRI_0,
	     PRECEIPTD.LINAMT_0,
	     PRECEIPTD.LINATIAMT_0,
	     PRECEIPTD.NETCUR_0,
	     PRECEIPTD.PJT_0,
	     SORDERQ.SOHNUM_0,
	     IsNull(SORDERQ.YSOH_ITEM_0,'') AS YSOH_ITEM_0, -- Without it, report cant work
	     ITMMASTER.ITMDES1_0,
	     ITMMASTER.ITMDES2_0,
	     ITMFACILIT.REOCOD_0,
	     ITMFACILIT.REOMGTCOD_0,
		 ITMBPS.ITMREFBPS_0,
		 STOJOU.STA_0
	FROM EXPLOIT.PRECEIPT PRECEIPT
	LEFT JOIN EXPLOIT.FACILITY FACILITY
	    ON PRECEIPT.PRHFCY_0 = FACILITY.FCY_0
	LEFT JOIN EXPLOIT.BPSUPPLIER BPSUPPLIER
	    ON PRECEIPT.BPSNUM_0 = BPSUPPLIER.BPSNUM_0
	        AND PRECEIPT.BPAADD_0 = BPSUPPLIER.BPAADD_0
	LEFT JOIN EXPLOIT.BPSUPPLIER BPSUPPLIER_PAY
	    ON PRECEIPT.BPSINV_0 = BPSUPPLIER_PAY.BPSNUM_0
	LEFT JOIN EXPLOIT.BPADDRESS BPADDRESS_PAY
	    ON PRECEIPT.BPSINV_0 = BPADDRESS_PAY.BPANUM_0
	        AND BPSUPPLIER_PAY.BPSTYP_0 = BPADDRESS_PAY.BPATYP_0
	        AND BPSUPPLIER_PAY.BPAPAY_0 = BPADDRESS_PAY.BPAADD_0
	LEFT JOIN EXPLOIT.PRECEIPTD PRECEIPTD
	    ON PRECEIPT.PRHFCY_0 = PRECEIPTD.PRHFCY_0
	        AND PRECEIPT.PTHNUM_0 = PRECEIPTD.PTHNUM_0
	LEFT JOIN EXPLOIT.PORDER PORDER
	    ON PRECEIPTD.POHNUM_0 = PORDER.POHNUM_0
	        AND PRECEIPTD.POHFCY_0 = PORDER.POHFCY_0
	LEFT JOIN EXPLOIT.PORDERQ PORDERQ
	    ON PRECEIPTD.POHNUM_0 = PORDERQ.POHNUM_0
	        AND PRECEIPTD.POPLIN_0 = PORDERQ.POPLIN_0
	LEFT JOIN EXPLOIT.SORDERQ SORDERQ
	    ON PRECEIPTD.PJT_0 = SORDERQ.YSOH_PJT_0
	        AND PRECEIPTD.PRHFCY_0 = SORDERQ.SALFCY_0
	        AND PRECEIPTD.ITMREF_0 = SORDERQ.ITMREF_0
	LEFT JOIN EXPLOIT.ITMMASTER ITMMASTER
	    ON PRECEIPTD.ITMREF_0 = ITMMASTER.ITMREF_0
	LEFT JOIN EXPLOIT.ITMFACILIT ITMFACILIT
	    ON PRECEIPTD.ITMREF_0 = ITMFACILIT.ITMREF_0
	        AND PRECEIPTD.PRHFCY_0 = ITMFACILIT.STOFCY_0
	LEFT JOIN EXPLOIT.ITMBPS ITMBPS
	    ON ITMBPS.BPSNUM_0= PRECEIPT.BPSNUM_0 
		  AND ITMBPS.ITMREF_0 = PRECEIPTD.ITMREF_0
	LEFT JOIN EXPLOIT.STOJOU STOJOU
	    ON STOJOU.ITMREF_0 = PRECEIPTD.ITMREF_0
		   AND STOJOU.STOFCY_0 = PRECEIPT.PRHFCY_0
		   AND STOJOU.VCRNUM_0 = PRECEIPT.PTHNUM_0 
		   AND STOJOU.VCRLIN_0 = PRECEIPTD.PTDLIN_0
		   AND STOJOU.TRSTYP_0=3
	WHERE PRECEIPT.PRHFCY_0=#{PurchaseSite} 
	      AND PRECEIPT.BPSNUM_0=#{VendorCode}
		  AND (PRECEIPT.RCPDAT_0 BETWEEN CONVERT(datetime, #{StartDay},120) AND CONVERT(datetime, #{EndDay},120) ) 
    </select>
    <select id="findInvoiceByInvoiceNO"  resultType="sageassistant.model.RptInvoice">
    SELECT DISTINCT
        SINVOICE.FCY_0,
        SINVOICE.CUR_0,
        SINVOICE.NUM_0,
        SINVOICE.ACCDAT_0,
        SINVOICE.AMTATI_0,
        SINVOICE.AMTNOT_0,
        SINVOICE.AMTTAX_0,
        SINVOICE.RATMLT_3,
        SINVOICE.BPR_0,
        SINVOICE.YFAPIAO_0,
        SINVOICE.YSIH_CUSDOC_0,
        SINVOICE.YSIH_TRACK_0,
        SINVOICE.BPRNAM_0,
        SINVOICE.BPRNAM_1,
        SINVOICE.POSCOD_0,
        SINVOICE.BPAADDLIG_0,
        SINVOICE.BPAADDLIG_1,
        SINVOICE.BPAADDLIG_2,
        SINVOICE.CRY_0,
        SINVOICE.CTY_0,
        SINVOICE.SAT_0,
        SINVOICE.CRYNAM_0,
        SINVOICE.BPYNAM_0,
        SINVOICE.BPYNAM_1,
        SINVOICE.BPYADDLIG_0,
        SINVOICE.BPYADDLIG_1,
        SINVOICE.BPYADDLIG_2,
        SINVOICE.BPYPOSCOD_0,
        SINVOICE.BPYCTY_0,
        SINVOICE.BPYSAT_0,
        SINVOICE.BPYCRY_0,
        SINVOICE.BPYCRYNAM_0,
        ATEXTRA.TEXTE_0 AS PTE_0,
        SINVOICED.SDHNUM_0,
        SINVOICED.SDDLIN_0,
        SINVOICED.ITMREF_0,
        SINVOICED.ECCVALMAJ_0,
        SINVOICED.ITMDES_0,
        SINVOICED.ITMDES2_0,
        SINVOICED.QTY_0,
        SINVOICED.SAU_0,
        SINVOICED.NETPRI_0,
        SINVOICEV.BPIEECNUM_0,
        SINVOICEV.EECICT_0,
        SINVOICEV.ICTCTY_0,
        SDELIVERY.SHIDAT_0,
        SDELIVERY.YBPDTRSP_0,
        SDELIVERYD.YSOH_ITEM_0,
        BPCARRIER.BPTNAM_0,
        SPACK.PCK_0,
        SPACK.YPCKWID_0,
        SPACK.YPCKLEN_0,
        SPACK.YPCKHEI_0,
        SPACK.WEU_0 AS WEU_PCK,
        SPACK.NETWEI_0 AS NETWEI_SPK,
        SPACK.PACNUM_0,
        SPACKD.SERNUM_0,
        SPACKD.LOT_0,
        ITMMASTER.CUSREF_0,
        ITMMASTER.YITM_OTAN_0,
        SORDER.SOHNUM_0,
        SORDER.ORDDAT_0,
        SORDER.CUSORDREF_0,
        SORDER.BPCNAM_0,
        SORDER.BPCNAM_1,
        SORDER.BPCCTY_0,
        SORDER.BPCSAT_0,
        SORDER.BPCCRY_0,
        SORDER.BPCCRYNAM_0,
        SORDER.BPCPOSCOD_0,
        SORDER.BPCADDLIG_0,
        SORDER.BPCADDLIG_1,
        SORDER.BPCADDLIG_2,
        SORDERP.ITMDES3_0,
        SORDERP.SOQSTA_0,
        SORDERQ.YSOQ_BPCPN_0,
        SORDERQ.YSOQ_ITEMCUS_0,
        TEXCLOB_DEB.TEXTE_0 AS TEXT_DEB,
        TEXCLOB_DET.TEXTE_0 AS TEXT_DET,
        TEXCLOB_SOH_DEB.TEXTE_0 AS TEXT_SOH_DEB
        
    FROM EXPLOIT.SINVOICE SINVOICE
    LEFT JOIN EXPLOIT.SINVOICED SINVOICED 
            ON SINVOICE.NUM_0= SINVOICED.NUM_0 
    LEFT JOIN EXPLOIT.SINVOICEV SINVOICEV 
            ON SINVOICEV.NUM_0 = SINVOICED.NUM_0 

    LEFT JOIN EXPLOIT.SDELIVERY SDELIVERY 
            ON SINVOICED.SDHNUM_0= SDELIVERY.SDHNUM_0 
    LEFT JOIN EXPLOIT.SDELIVERYD SDELIVERYD 
            ON  SINVOICED.SDHNUM_0= SDELIVERYD.SDHNUM_0
                AND SINVOICED.SDDLIN_0= SDELIVERYD.SDDLIN_0
    LEFT JOIN  EXPLOIT.BPCARRIER BPCARRIER 
            ON SDELIVERY.BPTNUM_0 = BPCARRIER.BPTNUM_0

    LEFT JOIN  EXPLOIT.SPACK SPACK 
            ON SINVOICED.SDHNUM_0 = SPACK.VCRNUM_0
    LEFT JOIN EXPLOIT.SPACKD SPACKD
            ON SPACKD.VCRNUM_0 = SINVOICED.SDHNUM_0
               AND SPACKD.VCRLIN_0= SINVOICED.SDDLIN_0

    LEFT JOIN EXPLOIT.ITMMASTER ITMMASTER 
            ON SINVOICED.ITMREF_0= ITMMASTER.ITMREF_0 
    
    LEFT JOIN EXPLOIT.SORDER SORDER 
            ON SINVOICED.SOHNUM_0= SORDER.SOHNUM_0 
    LEFT JOIN EXPLOIT.SORDERQ SORDERQ 
            ON  SINVOICED.SOHNUM_0= SORDERQ.SOHNUM_0
                AND SINVOICED.SOPLIN_0= SORDERQ.SOPLIN_0 
    LEFT JOIN EXPLOIT.SORDERP SORDERP 
            ON SINVOICED.SOHNUM_0= SORDERP.SOHNUM_0
               AND  SINVOICED.SOQSEQ_0= SORDERP.SOPSEQ_0 
               AND SINVOICED.SOPLIN_0= SORDERP.SOPLIN_0

    LEFT JOIN EXPLOIT.ATEXTRA ATEXTRA 
            ON SINVOICE.PTE_0 = ATEXTRA.IDENT1_0
               AND ATEXTRA.CODFIC_0='TABPAYTERM'
               AND ATEXTRA.LANGUE_0='ENG'
            
    LEFT JOIN EXPLOIT.TEXCLOB TEXCLOB_DET 
            ON SINVOICED.SIDTEX_0= TEXCLOB_DET.CODE_0 
    LEFT JOIN EXPLOIT.TEXCLOB TEXCLOB_SOH_DEB
            ON SORDER.SOHTEX1_0= TEXCLOB_SOH_DEB.CODE_0
    LEFT JOIN EXPLOIT.TEXCLOB TEXCLOB_DEB
            ON SINVOICEV.SIHTEX1_0= TEXCLOB_DEB.CODE_0
           
    WHERE SINVOICE.NUM_0 =#{InvoiceNO}
    ORDER BY
        SINVOICE.NUM_0 DESC,
        SINVOICED.SDHNUM_0,
        SPACK.PACNUM_0,
        SPACK.PCK_0
	</select>
	<select id="findInvoicePackageByInvoiceNO" resultType="sageassistant.model.RptInvoicePackage" >
	SELECT DISTINCT
	     SPACK.PACNUM_0,
	     SPACK.PCK_0,
	     SPACK.YPCKWID_0,
	     SPACK.YPCKLEN_0,
	     SPACK.YPCKHEI_0,
	     SPACK.WEU_0 AS WEU_PCK,
	     SPACK.NETWEI_0 AS NETWEI_SPK
	FROM EXPLOIT.SPACK SPACK
		  INNER JOIN SINVOICED
	  ON SPACK.VCRNUM_0 = SINVOICED.SDHNUM_0
    WHERE SINVOICED.NUM_0=#{InvoiceNO}
	</select>
	<select id="findInvoicePayByInvoiceNO" resultType="sageassistant.model.RptInvoicePay" >
	SELECT 
		NUM_0,
		DUDDAT_0,
		PAMTYP_0,
		PAM_0,
		CUR_0,
		AMTCUR_0,
		PAYCUR_0,
		TMPCUR_0
	FROM EXPLOIT.GACCDUDATE GACCDUDATE
	WHERE GACCDUDATE.NUM_0=#{InvoiceNO}
	
	ORDER BY 
		DUDDAT_0 , DUDLIG_0
	</select>
	<select id="findInvoice2ByOrderNO"  resultType="sageassistant.model.RptInvoice2">
	SELECT DISTINCT
		SINVOICE.FCY_0,
		SINVOICE.CUR_0,
		SINVOICE.NUM_0,
		SINVOICE.ACCDAT_0,
		SINVOICE.BPR_0,
		SINVOICE.YFAPIAO_0,
		SINVOICE.YSIH_CUSDOC_0,
		SINVOICE.YSIH_TRACK_0,
		SINVOICE.BPRNAM_0,
		SINVOICE.BPRNAM_1,
		SINVOICE.POSCOD_0,
		SINVOICE.BPAADDLIG_0,
		SINVOICE.BPAADDLIG_1,
		SINVOICE.BPAADDLIG_2,	
		SINVOICE.CRY_0,
		SINVOICE.CTY_0,
		SINVOICE.SAT_0,
		SINVOICE.CRYNAM_0,	
		SINVOICE.BPYNAM_0,
		SINVOICE.BPYNAM_1,
		SINVOICE.BPYADDLIG_0,	
		SINVOICE.BPYADDLIG_1,	
		SINVOICE.BPYADDLIG_2,	
		SINVOICE.BPYPOSCOD_0,
		SINVOICE.BPYCTY_0,
		SINVOICE.BPYSAT_0,
		SINVOICE.BPYCRY_0,
		SINVOICE.BPYCRYNAM_0,
		SINVOICED.SDHNUM_0,
		SINVOICED.SDDLIN_0,
		SINVOICED.ITMREF_0,
		SINVOICED.ECCVALMAJ_0,
		SINVOICED.ITMDES_0,
		SINVOICED.ITMDES2_0,
		SINVOICED.QTY_0,
		SINVOICED.SAU_0,
		SINVOICED.NETPRI_0,	
		SINVOICED.AMTTAXLIN_0,	
		SINVOICED.AMTATILIN_0,
		SINVOICED.AMTNOTLIN_0,
		SINVOICED.RATTAXLIN_0,
		SINVOICEV.BPIEECNUM_0,
		SINVOICEV.EECICT_0,
		SINVOICEV.ICTCTY_0,
		SDELIVERY.SHIDAT_0,
		SDELIVERY.YBPDTRSP_0,	
		SDELIVERYD.YSOH_ITEM_0,
		BPCARRIER.BPTNAM_0,
		ITMMASTER.CUSREF_0,
		ITMMASTER.YITM_OTAN_0,
		SORDER.SOHNUM_0,
		SORDER.ORDDAT_0,
		SORDER.CUSORDREF_0,
		SORDER.BPCNAM_0,
		SORDER.BPCNAM_1,
		SORDER.BPCCTY_0,
		SORDER.BPCSAT_0,
		SORDER.BPCCRY_0,
		SORDER.BPCCRYNAM_0,
		SORDER.BPCPOSCOD_0,
		SORDER.BPCADDLIG_0,
		SORDER.BPCADDLIG_1,
		SORDER.BPCADDLIG_2,
		SORDERP.ITMDES3_0,
		SORDERP.SOQSTA_0,
		SORDERQ.YSOQ_BPCPN_0,	
		SORDERQ.YSOQ_ITEMCUS_0,
		SPACK.PCK_0,
		SPACK.YPCKWID_0,
		SPACK.YPCKLEN_0,
		SPACK.YPCKHEI_0,
		SPACK.WEU_0 AS WEU_PCK,
		SPACK.NETWEI_0 AS NETWEI_SPK,
		SPACK.PACNUM_0,
		TEXCLOB_DEB.TEXTE_0 AS TEXT_DEB,
		TEXCLOB_DET.TEXTE_0 AS TEXT_DET,
		TEXCLOB_SOH_DEB.TEXTE_0 AS TEXT_SOH_DEB,
		SPACKD.SERNUM_0,
		SPACKD.LOT_0
		
	FROM EXPLOIT.SINVOICE SINVOICE
	LEFT JOIN EXPLOIT.SINVOICED SINVOICED 
		ON SINVOICE.NUM_0= SINVOICED.NUM_0 
	LEFT JOIN EXPLOIT.SINVOICEV SINVOICEV 
		ON SINVOICEV.NUM_0 = SINVOICED.NUM_0 
	LEFT JOIN EXPLOIT.SDELIVERY SDELIVERY 
		ON SINVOICED.SDHNUM_0= SDELIVERY.SDHNUM_0 
	LEFT JOIN EXPLOIT.SDELIVERYD SDELIVERYD 
		ON  SINVOICED.SDHNUM_0= SDELIVERYD.SDHNUM_0
			AND SINVOICED.SDDLIN_0= SDELIVERYD.SDDLIN_0
	
	LEFT JOIN EXPLOIT.BPCARRIER BPCARRIER 
		ON SDELIVERY.BPTNUM_0 = BPCARRIER.BPTNUM_0	
	LEFT JOIN EXPLOIT.ITMMASTER ITMMASTER 
		ON SINVOICED.ITMREF_0= ITMMASTER.ITMREF_0 
	
	LEFT JOIN EXPLOIT.SORDER SORDER 
		ON SINVOICED.SOHNUM_0= SORDER.SOHNUM_0 
	LEFT JOIN EXPLOIT.SORDERQ SORDERQ 
		ON  SINVOICED.SOHNUM_0= SORDERQ.SOHNUM_0
		    AND SINVOICED.SOPLIN_0= SORDERQ.SOPLIN_0 
	LEFT JOIN EXPLOIT.SORDERP SORDERP 
		ON 	SINVOICED.SOHNUM_0= SORDERP.SOHNUM_0
		 	AND  SINVOICED.SOQSEQ_0= SORDERP.SOPSEQ_0 
		 	AND SINVOICED.SOPLIN_0= SORDERP.SOPLIN_0
	
	LEFT JOIN EXPLOIT.SPACK SPACK 
		ON SINVOICED.SDHNUM_0 = SPACK.VCRNUM_0	
	
	LEFT JOIN EXPLOIT.TEXCLOB TEXCLOB_DET 
		ON SINVOICED.SIDTEX_0= TEXCLOB_DET.CODE_0 
	LEFT JOIN EXPLOIT.TEXCLOB TEXCLOB_SOH_DEB
		ON SORDER.SOHTEX1_0= TEXCLOB_SOH_DEB.CODE_0
	LEFT JOIN EXPLOIT.TEXCLOB TEXCLOB_DEB
		ON SINVOICEV.SIHTEX1_0= TEXCLOB_DEB.CODE_0  
	LEFT JOIN EXPLOIT.SPACKD SPACKD
	    ON SPACKD.VCRNUM_0 = SINVOICED.SDHNUM_0
	       AND SPACKD.VCRLIN_0= SINVOICED.SDDLIN_0	
	WHERE 
	  	SORDER.SOHNUM_0 =#{OrderNO}
			OR SORDER.CUSORDREF_0=#{OrderNO}    
	</select>
	<select id="findInvoice2PayByOrderNO" resultType="sageassistant.model.RptInvoicePay" >
	SELECT DISTINCT 
		GACCDUDATE.NUM_0,
		GACCDUDATE.DUDDAT_0,
		GACCDUDATE.PAMTYP_0,
		GACCDUDATE.PAM_0,
		GACCDUDATE.CUR_0,
		GACCDUDATE.AMTCUR_0,
		GACCDUDATE.PAYCUR_0,
		GACCDUDATE.TMPCUR_0
	FROM EXPLOIT.GACCDUDATE GACCDUDATE
		INNER JOIN EXPLOIT.SINVOICED SINVOICED
			ON GACCDUDATE.NUM_0= SINVOICED.NUM_0
		INNER JOIN EXPLOIT.SORDER SORDER
			ON SINVOICED.SOHNUM_0= SORDER.SOHNUM_0 
	WHERE SORDER.SOHNUM_0 =#{OrderNO} OR SORDER.CUSORDREF_0=#{OrderNO}
		
	UNION      /* Unmatched pay for order*/
	
	SELECT DISTINCT
		GACCDUDATE.NUM_0,
		GACCDUDATE.DUDDAT_0,
		GACCDUDATE.PAMTYP_0,
		GACCDUDATE.PAM_0,
		GACCDUDATE.CUR_0,
		GACCDUDATE.AMTCUR_0,
		GACCDUDATE.PAYCUR_0,
		GACCDUDATE.TMPCUR_0
	FROM GACCDUDATE
		INNER JOIN GACCENTRYD
			ON GACCENTRYD.NUM_0 = GACCDUDATE.NUM_0
	WHERE 
		GACCDUDATE.TYP_0='FCR'
		AND GACCENTRYD.TYP_0='FCR'
		AND GACCENTRYD.MTC_0 =''
		AND GACCENTRYD.BPR_0 !=''
		AND CHARINDEX(#{OrderNO}, GACCENTRYD.REFINTLIN_0) > 0
	</select>
	<select id="findSOABySiteAndBPCode" resultType="sageassistant.model.RptSOA" >
	SELECT DISTINCT
		NEEDPAID.FCY_0 AS Site,
		NEEDPAID.BPR_0 AS Customer,
		NEEDPAID.BPCNAM_0 AS Name0,
		NEEDPAID.CUSORDREF_0 AS CustRef,
		NEEDPAID.SOHNUM_0 AS OrderNO,
		NEEDPAID.NUM_0 AS InvoiceNO,
		NEEDPAID.CUR_0 AS Currency,
		NEEDPAID.AMTCUR_0 AS InvoiceValue,
		NEEDPAID.ACCDAT_0 AS InvoiceDate,
		NEEDPAID.DUDDAT_0 AS DueDate,
		DATEDIFF(day,NEEDPAID.DUDDAT_0,GETDATE()) AS Delay,
		ISNULL(MATCHFCPAID.PAYCUR_0,0) + ISNULL(UNMATCHPAID.PAYCUR_0,0) AS Paid,
		ISNULL(MATCHSOPAID.PAYCUR_0,0)*ISNULL(MATCHSORATE.RATE,1) AS PaidSO
	FROM 
		(SELECT DISTINCT
			GACCDUDATE.FCY_0,
			GACCDUDATE.BPR_0,
			GACCDUDATE.NUM_0,
			GACCDUDATE.CUR_0,
			SINVOICE.AMTATI_0 AS AMTCUR_0,
			MIN(GACCDUDATE.CREDAT_0) OVER (PARTITION BY GACCDUDATE.FCY_0,GACCDUDATE.BPR_0, GACCDUDATE.NUM_0, GACCDUDATE.CUR_0) AS ACCDAT_0,
			MIN(GACCDUDATE.DUDDAT_0) OVER (PARTITION BY GACCDUDATE.FCY_0,GACCDUDATE.BPR_0, GACCDUDATE.NUM_0, GACCDUDATE.CUR_0) AS DUDDAT_0,
			BPCUSTOMER.BPCNAM_0,
			SINVOICED.SOHNUM_0,
			SORDER.CUSORDREF_0
		FROM EXPLOIT.GACCDUDATE GACCDUDATE
		    LEFT JOIN EXPLOIT.SINVOICE SINVOICE
			    ON SINVOICE.NUM_0 = GACCDUDATE.NUM_0 
			LEFT JOIN EXPLOIT.SINVOICED SINVOICED
			    ON SINVOICED.NUM_0 = GACCDUDATE.NUM_0
			LEFT JOIN EXPLOIT.SORDER SORDER
			    ON SINVOICED.SOHNUM_0 = SORDER.SOHNUM_0
			LEFT JOIN EXPLOIT.BPCUSTOMER BPCUSTOMER
				ON BPCUSTOMER.BPCNUM_0 = GACCDUDATE.BPR_0
		WHERE 
			GACCDUDATE.FCY_0 = #{Site} 
			AND GACCDUDATE.TYP_0='FFC'
			AND GACCDUDATE.PAYCUR_0 != GACCDUDATE.AMTCUR_0      /* All not closed, get total from Invoice, not partial in due */
		<if test="BPCode != null and BPCode != ''">
		    AND GACCDUDATE.BPR_0 = #{BPCode}
		</if>
		) AS NEEDPAID
	
		LEFT JOIN (
			SELECT DISTINCT
				PAYMENTD.VCRNUM_0 AS NUM_0,
				PAYMENTD.BPRLIN_0 AS BPR_0,
				PAYMENTD.CURLIN_0 AS CUR_0,
				SUM(PAYMENTD.AMTLIN_0) OVER (PARTITION BY PAYMENTD.BPRLIN_0,PAYMENTD.CURLIN_0, PAYMENTD.VCRNUM_0) AS PAYCUR_0
			FROM EXPLOIT.PAYMENTD PAYMENTD
			WHERE 
				PAYMENTD.FCYLIN_0=#{Site}
				AND PAYMENTD.BPRLIN_0 !=''
				AND PAYMENTD.VCRTYP_0 = 'FFC'
		<if test="BPCode != null and BPCode != ''">
				AND PAYMENTD.BPRLIN_0 = #{BPCode}
		</if>
		) AS MATCHFCPAID
		ON MATCHFCPAID.BPR_0 = NEEDPAID.BPR_0
			AND MATCHFCPAID.CUR_0 = NEEDPAID.CUR_0
			AND MATCHFCPAID.NUM_0 = NEEDPAID.NUM_0
			
		LEFT JOIN (
			SELECT DISTINCT 
				PAYMENTD.VCRNUM_0,
				SUM (PAYMENTD.AMTLIN_0) OVER (PARTITION BY PAYMENTD.VCRNUM_0) AS PAYCUR_0
			FROM 
				PAYMENTD
			WHERE 
				PAYMENTD.FCYLIN_0= #{Site}
				AND PAYMENTD.BPRLIN_0 !=''
				AND PAYMENTD.VCRTYP_0 = '' 
		<if test="BPCode != null and BPCode != ''">
				AND PAYMENTD.BPRLIN_0 = #{BPCode}
		</if>
		) AS MATCHSOPAID
		ON MATCHSOPAID.VCRNUM_0 = NEEDPAID.SOHNUM_0

		LEFT JOIN (
			SELECT DISTINCT
				SORDER.SOHNUM_0,
				SINVOICED.NUM_0,
				IIF(SORDER.ORDATI_0 =0,0,SUM (SINVOICED.AMTATILIN_0) OVER (PARTITION BY SORDER.SOHNUM_0,SINVOICED.NUM_0) /
				SORDER.ORDATI_0) AS RATE
			FROM SORDER  
			     LEFT JOIN SINVOICED
				 ON SORDER.SOHNUM_0 = SINVOICED.SOHNUM_0
				    AND SINVOICED.PERTYP_0 =1
			WHERE 
				SORDER.SALFCY_0 = #{Site}
				AND SINVOICED.SALFCY_0 = #{Site}
		<if test="BPCode != null and BPCode != ''">
				AND SORDER.BPCORD_0 = #{BPCode}
				AND SINVOICED.BPCINV_0 = #{BPCode}
		</if>
		) AS MATCHSORATE
		ON MATCHSORATE.SOHNUM_0 = NEEDPAID.SOHNUM_0
			AND MATCHSORATE.NUM_0 = NEEDPAID.NUM_0
				
		LEFT JOIN (
			SELECT DISTINCT
				SUBSTRING(GACCENTRYD.DES_0,CHARINDEX('FC', GACCENTRYD.DES_0)-1,10)	AS NUM_0,
				GACCENTRYD.BPR_0,
				GACCENTRYD.CUR_0,
				SUM(GACCENTRYD.AMTCUR_0) OVER (PARTITION BY GACCENTRYD.BPR_0,GACCENTRYD.CUR_0,SUBSTRING(GACCENTRYD.DES_0,CHARINDEX('FC', GACCENTRYD.DES_0)-1,10)) AS PAYCUR_0
			FROM EXPLOIT.GACCENTRYD GACCENTRYD
			WHERE 
				GACCENTRYD.FCYLIN_0=#{Site}
				AND GACCENTRYD.BPR_0 !=''
				AND GACCENTRYD.TYP_0 ='FCR'
				AND GACCENTRYD.REFINTLIN_0 = ''
				AND GACCENTRYD.MTC_0 =''
				AND GACCENTRYD.ACCNUMORI_0 = 0
				AND GACCENTRYD.MTCDAT_0 = '1753-01-01'
				AND GACCENTRYD.DES_0 LIKE '%FC%'
		<if test="BPCode != null and BPCode != ''">
			AND GACCENTRYD.BPR_0 = #{BPCode}
		</if>
		) AS UNMATCHPAID
		ON UNMATCHPAID.BPR_0 = NEEDPAID.BPR_0
		   AND UNMATCHPAID.CUR_0 = NEEDPAID.CUR_0
		   AND NEEDPAID.NUM_0 = UNMATCHPAID.NUM_0
		ORDER BY Delay DESC
	</select>
</mapper>