<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sageassistant.dao.StatusMapper">
	<!--Open L2 Cache under Names pace: 1 Hour-->
	<cache eviction="LRU" flushInterval="3600000" readOnly="true" size="512" />
	<select id="findTobeDeliveryBySite" resultType="sageassistant.model.TobeDelivery">
		SELECT DISTINCT
			IIF(SORDERQ.YSOQ_PJTORI_0='',SORDERQ.YSOH_PJT_0,SORDERQ.YSOQ_PJTORI_0) AS ProjectNO,
			SORDERQ.SOHNUM_0 AS OrderNO,
			(CASE WHEN SORDERQ.YSOQ_STA_0 =1 THEN SORDER.SOHTYP_0 + '-Methods' 
			WHEN SORDERQ.YSOQ_STA_0 =2 THEN SORDER.SOHTYP_0 + '-InteralProd'
			WHEN SORDERQ.YSOQ_STA_0 =3 THEN SORDER.SOHTYP_0 + '-ExternalProd'
			WHEN SORDERQ.YSOQ_STA_0 =4 THEN SORDER.SOHTYP_0 + '-Design'
			WHEN SORDERQ.YSOQ_STA_0 =5 THEN SORDER.SOHTYP_0 + '-Stock'
			WHEN SORDERQ.YSOQ_STA_0 =6 THEN SORDER.SOHTYP_0 + '-Trading'
			WHEN SORDERQ.YSOQ_STA_0 =7 THEN SORDER.SOHTYP_0 + '-Services'
			WHEN SORDERQ.YSOQ_STA_0 =8 THEN SORDER.SOHTYP_0 + '-SalesAdmin' 
			ELSE SORDER.SOHTYP_0 + '-UNK' END) AS OrderType,
			SORDERP.ITMREF_0 AS PN,
			SORDERP.ITMDES_0 AS Description,
			SORDERQ.QTY_0 AS QTY,
			SORDERP.NETPRI_0 AS NetPrice,
			SORDER.CUR_0 AS Currency,
			SORDER.BPCORD_0 AS CustomerCode,
			SORDER.BPCNAM_0 AS CustomerName,
			SORDER.ORDDAT_0 AS OrderDate,
			SORDERQ.DEMDLVDAT_0 AS RequestDate,
			SORDERQ.YSOQ_DLIVP_0 AS PlanedDate
		FROM EXPLOIT.SORDERQ AS SORDERQ
		INNER JOIN EXPLOIT.SORDERP AS SORDERP
			ON SORDERP.SOHNUM_0 = SORDERQ.SOHNUM_0
				AND SORDERP.SOPLIN_0 = SORDERQ.SOPLIN_0
				AND SORDERQ.SALFCY_0 = #{Site}
				AND SORDERP.SALFCY_0 = #{Site}
				AND SORDERQ.SOQSTA_0 != 3
		INNER JOIN EXPLOIT.SORDER SORDER
			ON SORDERP.SOHNUM_0 = SORDER.SOHNUM_0
			    AND SORDER.SALFCY_0 = #{Site}
		ORDER BY SORDERQ.DEMDLVDAT_0 ASC
	</select>
	<select id="findTobeReceiveBySite" resultType="sageassistant.model.TobeReceive">
		SELECT DISTINCT
			PORDERP.POHNUM_0 AS PurchaseNO,
			PORDERP.POPLIN_0 AS Line,
			PORDERP.PJT_0 AS ProjectNO,
			PORDERP.ITMREF_0 AS PN,
			PORDERP.ITMDES_0 AS Description,
			PORDER.CUR_0 AS Currency,
			PORDERP.NETPRI_0 AS NetPrice,
			PORDERQ.QTYPUU_0 AS QTY,
			PORDERQ.PUU_0 AS Unit,
			PORDER.BPSNUM_0 AS VendorCode,
			PORDER.BPRNAM_0 AS VendorName,
			IIF(PORDERQ.LINOCNDAT_0='1753-01-01','',PORDERQ.LINOCNDAT_0) AS AckDate,
			PORDERQ.EXTRCPDAT_0 AS ExpectDate,
			PORDER.ORDDAT_0 AS OrderDate,
			PORDER.CREUSR_0 AS CreateUser
		FROM  EXPLOIT.PORDERP AS PORDERP
		INNER JOIN EXPLOIT.PORDERQ AS PORDERQ
			ON PORDERP.POHNUM_0=PORDERQ.POHNUM_0
				AND PORDERP.POPLIN_0=PORDERQ.POPLIN_0
				AND PORDERQ.PRHFCY_0 = #{Site}
				AND PORDERP.PRHFCY_0 = #{Site}
				AND PORDERQ.LINCLEFLG_0 != 2
		INNER JOIN EXPLOIT.PORDER AS PORDER
			ON PORDERP.POHNUM_0=PORDER.POHNUM_0
				AND PORDER.POHFCY_0 = #{Site}
		ORDER BY PORDERQ.EXTRCPDAT_0 ASC
	</select>
	<select id="findTobeDealWithOrderLineBySite" resultType="sageassistant.model.TobeDealWithOrderLine">
		SELECT DISTINCT
			SORDERP.SOHNUM_0 AS SalesOrderNO,
			SORDER.SOHTYP_0 AS OrderType,
			SORDERP.ITMREF_0 AS PN,
			SORDERP.ITMDES_0 AS Description,
			SORDERQ.QTY_0 AS QTY,
			SORDERP.SAU_0 AS Unit,
			SORDER.BPCORD_0 AS CustomerCode,
			SORDER.BPCNAM_0 AS CustomerName,
			SORDERQ.ORDDAT_0 AS OrderDate,
			SORDERQ.DEMDLVDAT_0 AS DemandDate,
			IIF(SORDERQ.YSOQ_PJTORI_0='',SORDERQ.YSOH_PJT_0,SORDERQ.YSOQ_PJTORI_0) AS ProjectNO,
			(CASE WHEN SORDERQ.YSOQ_STA_0 =1 THEN 'Methods' 
			WHEN SORDERQ.YSOQ_STA_0 =2 THEN 'InteralProd'
			WHEN SORDERQ.YSOQ_STA_0 =3 THEN 'ExternalProd'
			WHEN SORDERQ.YSOQ_STA_0 =4 THEN 'Design'
			WHEN SORDERQ.YSOQ_STA_0 =5 THEN 'Stock'
			WHEN SORDERQ.YSOQ_STA_0 =6 THEN 'Trading'
			WHEN SORDERQ.YSOQ_STA_0 =7 THEN 'Services'
			WHEN SORDERQ.YSOQ_STA_0 =8 THEN 'SalesAdmin' 
			ELSE 'UNK' END) AS OrderCategory
		FROM EXPLOIT.SORDERP AS SORDERP
		INNER JOIN EXPLOIT.SORDERQ AS SORDERQ
			ON SORDERP.SOHNUM_0 = SORDERQ.SOHNUM_0
				AND SORDERP.SOPLIN_0 = SORDERQ.SOPLIN_0  
				AND SORDERP.SALFCY_0 = #{Site}
				AND SORDERQ.SALFCY_0 = #{Site}
				AND SORDERQ.SOQSTA_0 != 3 
				AND SORDERQ.SOQSTA_0 != 8
		INNER JOIN EXPLOIT.SORDER AS SORDER
			ON SORDERP.SOHNUM_0 = SORDER.SOHNUM_0 
				AND SORDER.SALFCY_0 = #{Site}
		LEFT JOIN EXPLOIT.MFGITM MFGITM
			ON MFGITM.PJT_0 = SORDERQ.YSOH_PJT_0
			   AND MFGITM.MFGFCY_0 = #{Site}
	    LEFT JOIN EXPLOIT.MFGITM MFGITM2
		    ON MFGITM2.PJT_0 = SORDERQ.YSOQ_PJTORI_0
			   AND MFGITM2.MFGFCY_0 = #{Site}
		LEFT JOIN EXPLOIT.PORDERP PORDERP
				 ON PORDERP.PJT_0 = SORDERQ.YSOH_PJT_0
				    AND PORDERP.PRHFCY_0 = #{Site}
		LEFT JOIN EXPLOIT.PORDERP PORDERP2
				 ON PORDERP2.PJT_0 = SORDERQ.YSOQ_PJTORI_0
				    AND PORDERP2.PRHFCY_0 = #{Site}
		WHERE 
			MFGITM.MFGNUM_0 IS NULL
			AND PORDERP.POHNUM_0 IS NULL
			AND MFGITM2.MFGNUM_0 IS NULL
			AND PORDERP2.POHNUM_0 IS NULL
		ORDER BY SORDERQ.ORDDAT_0 ASC
	</select>
	<select id="findTobePurchaseBomBySite" resultType="sageassistant.model.TobePurchaseBom">
		SELECT DISTINCT
			MFGITM.PJT_0 AS ProjectNO,
			SORDER.SOHTYP_0 AS OrderType,
			SORDER.BPCORD_0 AS CustomerCode,
			SORDER.BPCNAM_0 AS CustomerName,
			MFGITM.ITMREF_0 AS ForPN,
			MFGMAT.MFGNUM_0 AS WorkOrderNO,
			MFGMAT.BOMSEQ_0 AS BomSeq,
			MFGMAT.ITMREF_0 AS PN,
			CONCAT(ITMMASTER.ITMDES1_0,ITMMASTER.ITMDES2_0,ITMMASTER.ITMDES3_0) AS Description,
			MFGMAT.RETQTY_0 AS QTY,
			MFGMAT.BOMUOM_0 AS Unit,
			MFGMAT.SHTQTY_0 AS ShortQty,
			MFGMAT.ALLQTY_0 AS AllQty,
			MFGMAT.CREDAT_0 AS CreateDate
		FROM EXPLOIT.MFGMAT AS MFGMAT
		INNER JOIN EXPLOIT.MFGITM AS MFGITM
			   ON MFGITM.MFGNUM_0 = MFGMAT.MFGNUM_0
				  AND MFGITM.MFGLIN_0 = MFGMAT.MFGLIN_0
				  AND MFGMAT.SHTQTY_0 > 0
				  AND MFGITM.MFGFCY_0 = #{Site}
				  AND MFGMAT.MFGFCY_0 = #{Site}
		LEFT JOIN EXPLOIT.ITMMASTER AS ITMMASTER
			   ON MFGMAT.ITMREF_0 = ITMMASTER.ITMREF_0
		LEFT JOIN EXPLOIT.SORDERQ AS SORDERQ
			   ON SORDERQ.YSOH_PJT_0 = MFGITM.PJT_0
			   AND SORDERQ.SALFCY_0 = #{Site}
		LEFT JOIN EXPLOIT.SORDER AS SORDER
			   ON SORDERQ.SOHNUM_0 = SORDER.SOHNUM_0
			   AND SORDER.SALFCY_0  = #{Site}
		LEFT JOIN EXPLOIT.PORDERP AS PORDERP
					ON PORDERP.PJT_0 = MFGITM.PJT_0 
					AND PORDERP.ITMREF_0 = MFGMAT.ITMREF_0
					AND PORDERP.PRHFCY_0 = #{Site}
		WHERE  PORDERP.POHNUM_0 IS NULL
		</select>
	<select id="findTobeClosedWOBySite" resultType="sageassistant.model.TobeClosedWO">
	 	SELECT DISTINCT 
			IIF(SORDERQ.YSOQ_PJTORI_0='',SORDERQ.YSOH_PJT_0,SORDERQ.YSOQ_PJTORI_0) AS ProjectNO,
			SORDERQ.SOHNUM_0 AS OrderNO,
			MFGITM.MFGNUM_0 AS WorkOrderNO,
			(CASE WHEN MFGITM.MFGSTA_0 =1 THEN 'Firm' 
			WHEN MFGITM.MFGSTA_0 =2 THEN 'Planned'
			WHEN MFGITM.MFGSTA_0 =3 THEN 'Suggested'
			WHEN MFGITM.MFGSTA_0 =4 THEN 'Closed'
			ELSE 'UNK' END) AS WOStatus,
			(CASE WHEN MFGITM.ITMSTA_0 =1 THEN 'Pending' 
			WHEN MFGITM.ITMSTA_0 =2 THEN 'In Process'
			WHEN MFGITM.ITMSTA_0 =3 THEN 'Completed'
			WHEN MFGITM.ITMSTA_0 =4 THEN 'Cancelled'
			ELSE 'UNK' END) AS ProductionStatus,
			(CASE WHEN SORDERQ.YSOQ_STA_0 =1 THEN SORDER.SOHTYP_0 + '-Methods' 
			WHEN SORDERQ.YSOQ_STA_0 =2 THEN SORDER.SOHTYP_0 + '-InteralProd'
			WHEN SORDERQ.YSOQ_STA_0 =3 THEN SORDER.SOHTYP_0 + '-ExternalProd'
			WHEN SORDERQ.YSOQ_STA_0 =4 THEN SORDER.SOHTYP_0 + '-Design'
			WHEN SORDERQ.YSOQ_STA_0 =5 THEN SORDER.SOHTYP_0 + '-Stock'
			WHEN SORDERQ.YSOQ_STA_0 =6 THEN SORDER.SOHTYP_0 + '-Trading'
			WHEN SORDERQ.YSOQ_STA_0 =7 THEN SORDER.SOHTYP_0 + '-Services'
			WHEN SORDERQ.YSOQ_STA_0 =8 THEN SORDER.SOHTYP_0 + '-SalesAdmin' 
			ELSE SORDER.SOHTYP_0 + '-UNK' END) AS OrderType,
			SORDERQ.ITMREF_0 AS PN,
			SORDERQ.QTY_0 AS Qty,
			SORDER.BPCORD_0 AS CustomerCode,
			SORDER.BPCNAM_0 AS CustomerName,
			SORDER.ORDDAT_0 AS OrderDate
		FROM EXPLOIT.SORDERQ AS SORDERQ
		INNER JOIN EXPLOIT.SORDER SORDER
				ON SORDERQ.SOHNUM_0 = SORDER.SOHNUM_0
					AND SORDER.SALFCY_0 = #{Site}
					AND SORDERQ.SALFCY_0 = #{Site}
					AND SORDERQ.SOQSTA_0 = 3 
		INNER JOIN EXPLOIT.MFGITM
				ON (SORDERQ.YSOH_PJT_0 = MFGITM.PJT_0  OR SORDERQ.YSOQ_PJTORI_0 = MFGITM.PJT_0)
					AND MFGITM.MFGFCY_0 = #{Site}
					AND MFGITM.ITMSTA_0 !=3
		ORDER BY SORDER.ORDDAT_0 DESC
	 </select>
	<select id="findTobeTrackingSalesOrderLineBySite" resultType="sageassistant.model.TobeTrackingSalesOrderLine">
	SELECT DISTINCT
		ROW_NUMBER() OVER (ORDER BY SORDERQ.DEMDLVDAT_0 ASC, SORDERQ.ROWID ASC) AS ItemNO,
		SORDERQ.SOHNUM_0 AS OrderNO, 
		SORDERQ.SOPLIN_0 AS OrderLine,
		IIF(SORDER.SOHTYP_0 = 'RCL' OR SORDER.SOHTYP_0 = 'REP',
			SORDERQ.SOHNUM_0 + '-' + CAST(SORDERQ.YSOH_ITEM_0 AS VARCHAR),
			IIF(SORDERQ.YSOQ_PJTORI_0 != '',
				SORDERQ.YSOQ_PJTORI_0,
				SORDERQ.YSOH_PJT_0
		)) AS TrackingNO,
		SORDERQ.YSOH_PJT_0 AS ProjectNO,
		SORDERQ.YSOQ_PJTORI_0 AS OriProjectNO,
		CASE 
			WHEN SORDERQ.YSOQ_STA_0 =1 THEN SORDER.SOHTYP_0 + '-Methods' 
			WHEN SORDERQ.YSOQ_STA_0 =2 THEN SORDER.SOHTYP_0 + '-InteralProd'
			WHEN SORDERQ.YSOQ_STA_0 =3 THEN SORDER.SOHTYP_0 + '-ExternalProd'
			WHEN SORDERQ.YSOQ_STA_0 =4 THEN SORDER.SOHTYP_0 + '-Design'
			WHEN SORDERQ.YSOQ_STA_0 =5 THEN SORDER.SOHTYP_0 + '-Stock'
			WHEN SORDERQ.YSOQ_STA_0 =6 THEN SORDER.SOHTYP_0 + '-Trading'
			WHEN SORDERQ.YSOQ_STA_0 =7 THEN SORDER.SOHTYP_0 + '-Services'
			WHEN SORDERQ.YSOQ_STA_0 =8 THEN SORDER.SOHTYP_0 + '-SalesAdmin' 
			ELSE SORDER.SOHTYP_0 + '-UNK' END AS OrderType,
		SORDERQ.YWR_STA_0 AS ProjectStatus,
		SORDERQ.YWR_CBLOC_0 AS ProjectBlockReason,
		RTRIM(LTRIM(SORDERQ.YWR_COM_0)) AS ProjectComment,
		RTRIM(LTRIM(SORDERQ.YWR_ACT_0)) AS ProjectAction,
		IIF(SORDERQ.ECCVALMAJ_0 !='', SORDERP.ITMREF_0 + '_' + SORDERQ.ECCVALMAJ_0, SORDERP.ITMREF_0) AS OrderPN,
		IIF(SORDERP.ITMDES2_0 !='', SORDERP.ITMDES_0 + ' ' + SORDERP.ITMDES2_0, SORDERP.ITMDES_0) AS OrderPNDesc,
		SORDERQ.QTY_0 AS OrderQTY,
		SORDERP.NETPRIATI_0 AS OrderPrice,
		SORDER.CUR_0 AS OrderCurrency,
		SORDER.BPCORD_0 AS CustomerCode,
		SORDER.BPCNAM_0 AS CustomerName,
		SORDER.ORDDAT_0 AS OrderDate,
		SORDERQ.DEMDLVDAT_0 AS OrderRequestDate,
		SORDERQ.YSOQ_DLIVP_0 AS OrderPlanedDate,
		SORDERQ.YSOQ_ADV_0 AS OrderSADFlag,
		SORDERQ.YSOQ_DADV_0 AS OrderSADDate,
		SORDERQ.YSOQ_PRD_0 AS OrderProductFlag,
		IIF(SORDERQ.YSOQ_DPRD_0 ='1753-01-01',NULL,SORDERQ.YSOQ_DPRD_0) AS OrderProductDate,
		SORDERQ.YSOQ_VAL_0 AS OrderDeliveryFlag,
		DATEDIFF(day, GETDATE(),SORDERQ.DEMDLVDAT_0) AS DaysLeft
	FROM EXPLOIT.SORDERQ AS SORDERQ
	INNER JOIN EXPLOIT.SORDERP AS SORDERP
		ON SORDERP.SOHNUM_0 = SORDERQ.SOHNUM_0
			AND SORDERP.SOPLIN_0 = SORDERQ.SOPLIN_0
			AND SORDERQ.SALFCY_0 = #{Site}
			AND SORDERP.SALFCY_0 = #{Site}
			AND SORDERQ.SOQSTA_0 != 3
	INNER JOIN EXPLOIT.SORDER SORDER
		ON SORDERP.SOHNUM_0 = SORDER.SOHNUM_0
			AND SORDER.SALFCY_0 = #{Site}
	ORDER BY ItemNO ASC
	OFFSET #{Offset} ROWS
	FETCH NEXT #{Limit} ROWS ONLY
	</select>
	<select id="findTobeTrackingBOMLineBySite" resultType="sageassistant.model.TobeTrackingBOMLine">
	WITH T1 AS (
	SELECT DISTINCT
		-- Sales open items
		ROW_NUMBER() OVER (ORDER BY SORDERQ.DEMDLVDAT_0 ASC, SORDERQ.ROWID ASC) AS ItemNO,
		IIF(SORDER.SOHTYP_0 = 'RCL' OR SORDER.SOHTYP_0 = 'REP',
			SORDERQ.SOHNUM_0 + '-' + CAST(SORDERQ.YSOH_ITEM_0 AS VARCHAR),
			IIF(SORDERQ.YSOQ_PJTORI_0 != '',
				SORDERQ.YSOQ_PJTORI_0,
				SORDERQ.YSOH_PJT_0
		)) AS TrackingNO,
		SORDERQ.YSOH_PJT_0 AS ProjectNO,
		SORDERQ.YSOQ_PJTORI_0 AS OriProjectNO
	FROM EXPLOIT.SORDERQ AS SORDERQ
	INNER JOIN EXPLOIT.SORDERP AS SORDERP
		ON SORDERP.SOHNUM_0 = SORDERQ.SOHNUM_0
			AND SORDERP.SOPLIN_0 = SORDERQ.SOPLIN_0
			AND SORDERQ.SALFCY_0 = #{Site}
			AND SORDERP.SALFCY_0 = #{Site}
			AND SORDERQ.SOQSTA_0 != 3
	INNER JOIN EXPLOIT.SORDER SORDER
		ON SORDERP.SOHNUM_0 = SORDER.SOHNUM_0
			AND SORDER.SALFCY_0 = #{Site}
	ORDER BY ItemNO	ASC
		OFFSET #{Offset} ROWS
		FETCH NEXT #{Limit} ROWS ONLY
	)

	SELECT DISTINCT
		MFGITM.PJT_0 AS BomProjectNO,
		MFGMAT.MFGNUM_0 AS WorkOrderNO,
		MFGMAT.BOMSEQ_0 AS BomSeq,
		MFGMAT.ITMREF_0 AS BomPN,
		CONCAT(ITMMASTER.ITMDES1_0,ITMMASTER.ITMDES2_0,ITMMASTER.ITMDES3_0) AS BomDesc,
		MFGMAT.RETQTY_0 AS BomQTY,
		MFGMAT.BOMUOM_0 AS BomUnit,
		MFGMAT.SHTQTY_0 AS ShortQty,
		MFGMAT.ALLQTY_0 AS AllQty,
		MFGMAT.RETDAT_0 AS BomRequestDate,
		SUM(STOCK.QTYSTU_0) OVER (PARTITION BY STOCK.ITMREF_0,STOCK.STOFCY_0) AS AvaQty
	FROM T1
	INNER JOIN EXPLOIT.MFGITM AS MFGITM
			ON (T1.ProjectNO = MFGITM.PJT_0 OR T1.OriProjectNO = MFGITM.PJT_0)
			AND MFGITM.MFGFCY_0 = #{Site}
			AND LEFT(REVERSE(MFGITM.PJT_0),4) != '1000'
	LEFT JOIN EXPLOIT.MFGMAT AS MFGMAT
			ON MFGITM.MFGNUM_0 = MFGMAT.MFGNUM_0
				AND MFGITM.MFGLIN_0 = MFGMAT.MFGLIN_0
				AND MFGMAT.MFGFCY_0 = #{Site}
	LEFT JOIN EXPLOIT.ITMMASTER AS ITMMASTER
			ON MFGMAT.ITMREF_0 = ITMMASTER.ITMREF_0
	LEFT JOIN EXPLOIT.STOCK STOCK
			ON MFGMAT.ITMREF_0 = STOCK.ITMREF_0
			AND STOCK.STOFCY_0 = #{Site}
	</select>
	<select id="findTobeTrackingPurchaseOrderLineBySite" resultType="sageassistant.model.TobeTrackingPurchaseOrderLine">
	WITH T1 AS (
	SELECT DISTINCT
		-- Sales open items
		ROW_NUMBER() OVER (ORDER BY SORDERQ.DEMDLVDAT_0 ASC, SORDERQ.ROWID ASC) AS ItemNO,
		IIF(SORDER.SOHTYP_0 = 'RCL' OR SORDER.SOHTYP_0 = 'REP',
			SORDERQ.SOHNUM_0 + '-' + CAST(SORDERQ.YSOH_ITEM_0 AS VARCHAR),
			IIF(SORDERQ.YSOQ_PJTORI_0 != '',
				SORDERQ.YSOQ_PJTORI_0,
				SORDERQ.YSOH_PJT_0
		)) AS TrackingNO,
		SORDERQ.YSOH_PJT_0 AS ProjectNO,
		SORDERQ.YSOQ_PJTORI_0 AS OriProjectNO
	FROM EXPLOIT.SORDERQ AS SORDERQ
	INNER JOIN EXPLOIT.SORDERP AS SORDERP
		ON SORDERP.SOHNUM_0 = SORDERQ.SOHNUM_0
			AND SORDERP.SOPLIN_0 = SORDERQ.SOPLIN_0
			AND SORDERQ.SALFCY_0 = #{Site}
			AND SORDERP.SALFCY_0 = #{Site}
			AND SORDERQ.SOQSTA_0 != 3
	INNER JOIN EXPLOIT.SORDER SORDER
		ON SORDERP.SOHNUM_0 = SORDER.SOHNUM_0
			AND SORDER.SALFCY_0 = #{Site}
	ORDER BY ItemNO	ASC
		OFFSET #{Offset} ROWS
		FETCH NEXT #{Limit} ROWS ONLY
	)

	SELECT DISTINCT
			PORDERP.POHNUM_0 AS PurchaseNO,
			PORDERP.POPLIN_0 AS PurchaseLine,
			PORDERP.PJT_0 AS PurchaseProjectNO,
			PORDERP.ITMREF_0 AS PurchasePN,
			PORDERP.ITMDES_0 AS PurchasePNDesc,
			PORDERQ.QTYPUU_0 AS PurchaseQTY,
			PORDERQ.PUU_0 AS PurchaseUnit,
			PORDER.BPSNUM_0 AS VendorCode,
			PORDER.BPRNAM_0 AS VendorName,
			IIF(PORDERQ.LINOCNDAT_0='1753-01-01',NULL,PORDERQ.LINOCNDAT_0) AS PurchaseAckDate,
			PORDERQ.EXTRCPDAT_0 AS PurchaseExpectDate,
			RTRIM(LTRIM(PORDERQ.YFIABCOM_0)) AS PurchaseComment,
			PORDER.ORDDAT_0 AS PurchaseDate,
			PORDER.CREUSR_0 AS PurchaseUser
	FROM  T1
	INNER JOIN EXPLOIT.PORDERP AS PORDERP
		ON (PORDERP.PJT_0 = T1.ProjectNO OR PORDERP.PJT_0 = T1.OriProjectNO)
			AND PORDERP.PRHFCY_0 = #{Site}
	INNER JOIN EXPLOIT.PORDERQ AS PORDERQ
		ON PORDERP.POHNUM_0 = PORDERQ.POHNUM_0
			AND PORDERP.POPLIN_0 = PORDERQ.POPLIN_0
			AND PORDERQ.PRHFCY_0 = #{Site}
	INNER JOIN EXPLOIT.PORDER AS PORDER
		ON PORDERP.POHNUM_0=PORDER.POHNUM_0
			AND PORDER.POHFCY_0 = #{Site}
	</select>
	<select id="findTobeTrackingReceiptLineBySite" resultType="sageassistant.model.TobeTrackingReceiptLine">
	WITH T1 AS (
	SELECT DISTINCT
		-- Sales open items
		ROW_NUMBER() OVER (ORDER BY SORDERQ.DEMDLVDAT_0 ASC, SORDERQ.ROWID ASC) AS ItemNO,
		IIF(SORDER.SOHTYP_0 = 'RCL' OR SORDER.SOHTYP_0 = 'REP',
			SORDERQ.SOHNUM_0 + '-' + CAST(SORDERQ.YSOH_ITEM_0 AS VARCHAR),
			IIF(SORDERQ.YSOQ_PJTORI_0 != '',
				SORDERQ.YSOQ_PJTORI_0,
				SORDERQ.YSOH_PJT_0
		)) AS TrackingNO,
		SORDERQ.YSOH_PJT_0 AS ProjectNO,
		SORDERQ.YSOQ_PJTORI_0 AS OriProjectNO
	FROM EXPLOIT.SORDERQ AS SORDERQ
	INNER JOIN EXPLOIT.SORDERP AS SORDERP
		ON SORDERP.SOHNUM_0 = SORDERQ.SOHNUM_0
			AND SORDERP.SOPLIN_0 = SORDERQ.SOPLIN_0
			AND SORDERQ.SALFCY_0 = #{Site}
			AND SORDERP.SALFCY_0 = #{Site}
			AND SORDERQ.SOQSTA_0 != 3
	INNER JOIN EXPLOIT.SORDER SORDER
		ON SORDERP.SOHNUM_0 = SORDER.SOHNUM_0
			AND SORDER.SALFCY_0 = #{Site}
	ORDER BY ItemNO	ASC
		OFFSET #{Offset} ROWS
		FETCH NEXT #{Limit} ROWS ONLY
	)
	
	SELECT DISTINCT
		PRECEIPTD.PTHNUM_0 AS ReceiptNO,
		PRECEIPTD.PTDLIN_0 AS ReceiptLine,
		PRECEIPTD.POHNUM_0 AS ReceiptPurchaseNO,
		PRECEIPTD.POPLIN_0 AS ReceiptPurchaseLine,
		PRECEIPTD.RCPDAT_0 AS ReceiptDate,
		PRECEIPTD.CREUSR_0 AS Receipter,
		PRECEIPTD.QTYSTU_0 AS ReceiptQty
	FROM  T1
	INNER JOIN EXPLOIT.PORDERP AS PORDERP
		ON (PORDERP.PJT_0 = T1.ProjectNO OR PORDERP.PJT_0 = T1.OriProjectNO)
			AND PORDERP.PRHFCY_0 = #{Site}
	INNER JOIN EXPLOIT.PRECEIPTD AS PRECEIPTD
		ON PORDERP.POHNUM_0 = PRECEIPTD.POHNUM_0
			AND PORDERP.POPLIN_0 = PRECEIPTD.POPLIN_0
			AND PRECEIPTD.PRHFCY_0 = #{Site}
	</select>
	<select id="findTobeTrackingQALineBySite" resultType="sageassistant.model.TobeTrackingQALine">
	WITH T1 AS (
	SELECT DISTINCT
		-- Sales open items
		ROW_NUMBER() OVER (ORDER BY SORDERQ.DEMDLVDAT_0 ASC, SORDERQ.ROWID ASC) AS ItemNO,
		IIF(SORDER.SOHTYP_0 = 'RCL' OR SORDER.SOHTYP_0 = 'REP',
			SORDERQ.SOHNUM_0 + '-' + CAST(SORDERQ.YSOH_ITEM_0 AS VARCHAR),
			IIF(SORDERQ.YSOQ_PJTORI_0 != '',
				SORDERQ.YSOQ_PJTORI_0,
				SORDERQ.YSOH_PJT_0
		)) AS TrackingNO,
		SORDERQ.YSOH_PJT_0 AS ProjectNO,
		SORDERQ.YSOQ_PJTORI_0 AS OriProjectNO
	FROM EXPLOIT.SORDERQ AS SORDERQ
	INNER JOIN EXPLOIT.SORDERP AS SORDERP
		ON SORDERP.SOHNUM_0 = SORDERQ.SOHNUM_0
			AND SORDERP.SOPLIN_0 = SORDERQ.SOPLIN_0
			AND SORDERQ.SALFCY_0 = #{Site}
			AND SORDERP.SALFCY_0 = #{Site}
			AND SORDERQ.SOQSTA_0 != 3
	INNER JOIN EXPLOIT.SORDER SORDER
		ON SORDERP.SOHNUM_0 = SORDER.SOHNUM_0
			AND SORDER.SALFCY_0 = #{Site}
	ORDER BY ItemNO	ASC
		OFFSET #{Offset} ROWS
		FETCH NEXT #{Limit} ROWS ONLY
	)

	SELECT DISTINCT  
		YORIPJT_0 AS ClaimProjectNO,
		SRENUM_0 AS ClaimNO,
		SREDES_0 AS ClaimNote,
		YSRE_CRIT_0 ClaimNC0Cri,
		YSRE_CATNC_0 ClaimNC0Type,
		IIF(YSRE_DATNC_0='1753-01-01',null,YSRE_DATNC_0) AS ClaimNC0Date,
		YSRE_DES_0 AS ClaimNC0Desc,
			YSRE_CRIT_1 ClaimNC1Cri,
		YSRE_CATNC_1 ClaimNC1Type,
		IIF(YSRE_DATNC_1='1753-01-01',null,YSRE_DATNC_1) AS ClaimNC1Date,
		YSRE_DES_1 AS ClaimNC1Desc,
		YSRE_CRIT_2 ClaimNC2Cri,
		YSRE_CATNC_2 ClaimNC2Type,
		IIF(YSRE_DATNC_2='1753-01-01',null,YSRE_DATNC_2) AS ClaimNC2Date,
		YSRE_DES_2 AS ClaimNC2Desc,
		YSRE_CRIT_3 ClaimNC3Cri,
		YSRE_CATNC_3 ClaimNC3Type,
		IIF(YSRE_DATNC_3='1753-01-01',null,YSRE_DATNC_3) AS ClaimNC3Date,
		YSRE_DES_3 AS ClaimNC3Desc,
		YSRE_CRIT_4 ClaimNC4Cri,
		YSRE_CATNC_4 ClaimNC4Type,
		IIF(YSRE_DATNC_4='1753-01-01',null,YSRE_DATNC_4) AS ClaimNC4Date,
		YSRE_DES_4 AS ClaimNC4Desc,
		YSRE_CRIT_5 ClaimNC5Cri,
		YSRE_CATNC_5 ClaimNC5Type,
		IIF(YSRE_DATNC_5='1753-01-01',null,YSRE_DATNC_5) AS ClaimNC5Date,
		YSRE_DES_5 AS ClaimNC5Desc,
		YSRE_CRIT_6 ClaimNC6Cri,
		YSRE_CATNC_6 ClaimNC6Type,
		IIF(YSRE_DATNC_6='1753-01-01',null,YSRE_DATNC_6) AS ClaimNC6Date,
		YSRE_DES_6 AS ClaimNC6Desc,
		YSRE_CRIT_7 ClaimNC7Cri,
		YSRE_CATNC_7 ClaimNC7Type,
		IIF(YSRE_DATNC_7='1753-01-01',null,YSRE_DATNC_7) AS ClaimNC7Date,
		YSRE_DES_7 AS ClaimNC7Desc,
		YSRE_CRIT_8 ClaimNC8Cri,
		YSRE_CATNC_8 ClaimNC8Type,
		IIF(YSRE_DATNC_8='1753-01-01',null,YSRE_DATNC_8) AS ClaimNC8Date,
		YSRE_DES_8 AS ClaimNC8Desc,
		YSRE_CRIT_9 ClaimNC9Cri,
		YSRE_CATNC_9 ClaimNC9Type,
		IIF(YSRE_DATNC_9='1753-01-01',null,YSRE_DATNC_9) AS ClaimNC9Date,
		YSRE_DES_9 AS ClaimNC9Desc,
		YSRE_CRIT_10 ClaimNC10Cri,
		YSRE_CATNC_10 ClaimNC10Type,
		IIF(YSRE_DATNC_10='1753-01-01',null,YSRE_DATNC_10) AS ClaimNC10Date,
		YSRE_DES_10 AS ClaimNC10Desc,
		YSRE_CRIT_11 ClaimNC11Cri,
		YSRE_CATNC_11 ClaimNC11Type,
		IIF(YSRE_DATNC_11='1753-01-01',null,YSRE_DATNC_11) AS ClaimNC11Date,
		YSRE_DES_11 AS ClaimNC11Desc
	FROM T1
	INNER JOIN EXPLOIT.SERREQUEST SERREQUEST
		ON ( T1.ProjectNO = SERREQUEST.YORIPJT_0 OR T1.OriProjectNO = SERREQUEST.YORIPJT_0 )
		    AND SERREQUEST.YORIPJT_0 != ''
			AND SERREQUEST.SALFCY_0 = #{Site}
	</select>
</mapper>