<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sageassistant.dao.SupplierMapper">
    <!--Open L2 Cache under Names pace: 1 Hour-->
    <cache eviction="LRU" flushInterval="3600000" readOnly="true" size="1024"/>
    <select id="supplierByCodeOrName" parameterType="String" resultType="sageassistant.model.SupplierName">
	    SELECT 
	        BPARTNER.BPRNUM_0 AS SupplierCode,
	        BPARTNER.BPRNAM_0+BPARTNER.BPRNAM_1 AS SupplierName
	    FROM EXPLOIT.BPARTNER AS BPARTNER
			INNER JOIN EXPLOIT.BPSUPPLIER AS BPSUPPLIER
				ON BPARTNER.BPRNUM_0 = BPSUPPLIER.BPSNUM_0
		WHERE BPARTNER.BPRNUM_0 LIKE #{SupplierCodeOrName} OR BPARTNER.BPRNAM_0 LIKE #{SupplierCodeOrName} OR BPARTNER.BPRNAM_1 LIKE #{SupplierCodeOrName}
			ORDER BY BPRNUM_0 ASC
    </select>
     <select id="supplierDetailsByCode" parameterType="String" resultType="sageassistant.model.SupplierDetails">
	    SELECT 
		    BPARTNER.BPRNUM_0 AS SupplierCode,
		    BPARTNER.BPRNAM_0 AS SupplierName0,
		    BPARTNER.BPRNAM_1 AS SupplierName1,
			BPADDRESS.BPAADDLIG_0 AS Address0,
			BPADDRESS.BPAADDLIG_1 AS Address1,
			BPADDRESS.POSCOD_0 AS PostCode,
			BPADDRESS.CRYNAM_0 AS Country,
			BPADDRESS.SAT_0 AS State,
			BPADDRESS.CTY_0 AS City,
			BPADDRESS.TEL_0 AS Tel0,
			BPADDRESS.TEL_1 AS Tel1,
			BPADDRESS.TEL_2 AS Tel2,
			BPADDRESS.TEL_3 AS Tel3,
			BPADDRESS.TEL_4 AS Tel4,
			BPADDRESS.FAX_0 AS Fax0,
			BPADDRESS.MOB_0 AS Mobile0,
			BPADDRESS.WEB_0 AS Email0,
			BPADDRESS.WEB_1 AS Email1,
			BPADDRESS.WEB_2 AS Email2,
			BPADDRESS.WEB_3 AS Email3,
			BPADDRESS.WEB_4 AS Email4,
			BPADDRESS.FCYWEB_0 AS WebSite
		FROM EXPLOIT.BPARTNER AS BPARTNER
		   LEFT JOIN EXPLOIT.BPADDRESS AS BPADDRESS
		     ON BPARTNER.BPRNUM_0 = BPADDRESS.BPANUM_0
		WHERE BPARTNER.BPRNUM_0 LIKE #{SupplierCode}
    </select>
    <select id="supplierTotalAmount" parameterType="String" resultType="sageassistant.model.SupplierSummaryAmount">
        SELECT DISTINCT
			POHFCY_0 AS Site,
			BPSNUM_0 AS SupplierCode,
			CUR_0 AS Currency,
			SUM(TOTLINATI_0) OVER (PARTITION BY PORDER.POHFCY_0, PORDER.BPSNUM_0, CUR_0 ) AS Amount
		FROM EXPLOIT.PORDER AS PORDER
		WHERE BPSNUM_0=#{SupplierCode}
		      AND (PORDER.ORDDAT_0 BETWEEN CONVERT(datetime, #{DateFrom},120) AND CONVERT(datetime, #{DateTo},120) )
    </select>
    <select id="supplierTotalProjectQty" parameterType="String" resultType="sageassistant.model.SupplierSummaryQty">
        SELECT DISTINCT
			PORDER.POHFCY_0 AS Site,
			PORDER.BPSNUM_0 AS SupplierCode,
			'Project' AS CountType,
			COUNT(DISTINCT PORDERP.PJT_0) AS Qty
		FROM EXPLOIT.PORDER AS PORDER
			LEFT JOIN EXPLOIT.PORDERP AS PORDERP
			    ON PORDER.POHNUM_0=PORDERP.POHNUM_0
		WHERE PORDER.BPSNUM_0=#{SupplierCode}
		      AND (PORDER.ORDDAT_0 BETWEEN CONVERT(datetime, #{DateFrom},120) AND CONVERT(datetime, #{DateTo},120) )
		GROUP BY PORDER.POHFCY_0,PORDER.BPSNUM_0
    </select>
    <select id="supplierTotalItemQty" parameterType="String" resultType="sageassistant.model.SupplierSummaryQty">
        SELECT DISTINCT
			PORDER.POHFCY_0 AS Site,
			PORDER.BPSNUM_0 AS SupplierCode,
			'Item' AS CountType,
			SUM(PORDER.LINNBR_0) OVER (PARTITION BY POHFCY_0, BPSNUM_0) AS Qty
		FROM EXPLOIT.PORDER AS PORDER
		WHERE PORDER.BPSNUM_0=#{SupplierCode}
		      AND (PORDER.ORDDAT_0 BETWEEN CONVERT(datetime, #{DateFrom},120) AND CONVERT(datetime, #{DateTo},120) )
    </select>
    <select id="supplierTotalProductQty" parameterType="String" resultType="sageassistant.model.SupplierSummaryQty">
        SELECT DISTINCT
			PORDER.POHFCY_0 AS Site,
			PORDER.BPSNUM_0 AS SupplierCode,
			'Product' AS CountType,
			SUM(PORDER.TOTLINQTY_0) OVER (PARTITION BY POHFCY_0, BPSNUM_0) AS Qty
		FROM EXPLOIT.PORDER AS PORDER
		WHERE BPSNUM_0=#{SupplierCode}
		      AND (PORDER.ORDDAT_0 BETWEEN CONVERT(datetime, #{DateFrom},120) AND CONVERT(datetime, #{DateTo},120) )
    </select>
    <select id="supplierOpenAmount" parameterType="String" resultType="sageassistant.model.SupplierSummaryAmount">
        SELECT DISTINCT 
            PORDER.POHFCY_0 AS Site,
			PORDER.CUR_0 AS Currency,
	        PORDER.BPSNUM_0 AS SupplierCode,
			SUM(PORDERQ.LINATIAMT_0) OVER (PARTITION BY PORDER.POHFCY_0, PORDER.BPSNUM_0, PORDER.CUR_0 ) AS Amount
	    FROM  EXPLOIT.PORDERQ AS PORDERQ
	        LEFT JOIN EXPLOIT.PORDER AS PORDER
	        	ON PORDERQ.POHNUM_0=PORDER.POHNUM_0
	    WHERE PORDERQ.LINCLEFLG_0 != 2
		    AND PORDERQ.PTHNUM_0 =''
		    AND PORDER.BPSNUM_0=#{SupplierCode}
	</select>
	<select id="supplierOpenProjectQty" parameterType="String" resultType="sageassistant.model.SupplierSummaryQty">
        SELECT DISTINCT 
            PORDER.POHFCY_0 AS Site,
	        PORDER.BPSNUM_0 AS SupplierCode,
			'Project' AS CountType,
			COUNT(DISTINCT PORDERP.PJT_0) AS Qty
	    FROM  EXPLOIT.PORDERQ AS PORDERQ
	        LEFT JOIN EXPLOIT.PORDER AS PORDER
	        	ON PORDERQ.POHNUM_0=PORDER.POHNUM_0
	        LEFT JOIN EXPLOIT.PORDERP AS PORDERP
	            ON PORDERQ.POHNUM_0=PORDERP.POHNUM_0
	               AND PORDERQ.POPLIN_0 = PORDERP.POPLIN_0
	    WHERE PORDERQ.LINCLEFLG_0 != 2
		    AND PORDERQ.PTHNUM_0 =''
		    AND PORDER.BPSNUM_0=#{SupplierCode}
		GROUP BY PORDER.POHFCY_0,PORDER.BPSNUM_0
	</select>
	<select id="supplierOpenItemQty" parameterType="String" resultType="sageassistant.model.SupplierSummaryQty">
        SELECT DISTINCT 
            PORDER.POHFCY_0 AS Site,
	        PORDER.BPSNUM_0 AS SupplierCode,
			'Item' AS CountType,
			COUNT(DISTINCT PORDERQ.ROWID) AS Qty
	    FROM  EXPLOIT.PORDERQ AS PORDERQ
	        LEFT JOIN EXPLOIT.PORDER AS PORDER
	        ON PORDERQ.POHNUM_0=PORDER.POHNUM_0
	    WHERE PORDERQ.LINCLEFLG_0 != 2
		    AND PORDERQ.PTHNUM_0 =''
		    AND PORDER.BPSNUM_0=#{SupplierCode}
		GROUP BY PORDER.POHFCY_0,PORDER.BPSNUM_0
	</select>
	<select id="supplierOpenProductQty" parameterType="String" resultType="sageassistant.model.SupplierSummaryQty">
        SELECT DISTINCT 
            PORDER.POHFCY_0 AS Site,
	        PORDER.BPSNUM_0 AS SupplierCode,
			'Product' AS CountType,
			SUM(PORDERQ.QTYUOM_0) OVER (PARTITION BY PORDER.POHFCY_0, PORDER.BPSNUM_0) AS Qty
	    FROM  EXPLOIT.PORDERQ AS PORDERQ
	        LEFT JOIN EXPLOIT.PORDER AS PORDER
	        ON PORDERQ.POHNUM_0=PORDER.POHNUM_0
	    WHERE PORDERQ.LINCLEFLG_0 != 2
		    AND PORDERQ.PTHNUM_0 =''
		    AND PORDER.BPSNUM_0=#{SupplierCode}
	</select>
	<select id="supplierDeliveryHistory" parameterType="String" resultType="sageassistant.model.SupplierDeliveryHistory">
	    SELECT DISTINCT 
	        PORDERQ.PRHFCY_0 AS Site,
	        PORDER.BPSNUM_0 AS SupplierCode,
	        PORDERP.POHNUM_0 AS PurchaseNO,
	        PORDERP.PJT_0 AS ProjectNO,
	        PORDERP.ITMREF_0 AS PN,
	        PORDERP.ITMDES_0 AS Description,
	        IIF(PORDERQ.LINOCNDAT_0='1753-01-01',null,PORDERQ.LINOCNDAT_0) AS AckDate,
	        PORDERQ.EXTRCPDAT_0 AS ExpectDate,
	        PORDER.ORDDAT_0 AS OrderDate,
			PORDERQ.PTHNUM_0 AS ReceiptNO,
			RECEIPTD.RCPDAT_0 AS ReceiptDate,
			DATEDIFF(day,PORDER.ORDDAT_0, RECEIPTD.RCPDAT_0) AS DaysNeed
	    FROM  EXPLOIT.PORDERP AS PORDERP
	        LEFT JOIN EXPLOIT.PORDERQ AS PORDERQ
	        ON PORDERP.POHNUM_0=PORDERQ.POHNUM_0
	            AND PORDERP.POPLIN_0=PORDERQ.POPLIN_0
	        LEFT JOIN EXPLOIT.PORDER AS PORDER
	        ON PORDERP.POHNUM_0=PORDER.POHNUM_0
			LEFT JOIN EXPLOIT.PRECEIPTD AS RECEIPTD
			ON PORDERQ.POHNUM_0 = RECEIPTD.POHNUM_0 AND PORDERQ.POPLIN_0 = RECEIPTD.POPLIN_0
	    WHERE PORDERQ.PTHNUM_0 !=''
		    AND PORDER.BPSNUM_0=#{SupplierCode}
		    AND (RECEIPTD.RCPDAT_0 BETWEEN CONVERT(datetime, #{DateFrom},120) AND CONVERT(datetime, #{DateTo},120) )
		ORDER BY RECEIPTD.RCPDAT_0 ASC
	</select>
	<select id="supplierDelayHistory" parameterType="String" resultType="sageassistant.model.SupplierDelayHistory">
	    SELECT DISTINCT 
	        PORDERQ.PRHFCY_0 AS Site,
	        PORDER.BPSNUM_0 AS SupplierCode,
	        PORDERP.POHNUM_0 AS PurchaseNO,
	        PORDERP.PJT_0 AS ProjectNO,
	        PORDERP.ITMREF_0 AS PN,
	        PORDERP.ITMDES_0 AS Description,
	        IIF(PORDERQ.LINOCNDAT_0='1753-01-01',null,PORDERQ.LINOCNDAT_0) AS AckDate,
	        PORDERQ.EXTRCPDAT_0 AS ExpectDate,
	        PORDER.ORDDAT_0 AS OrderDate,
			PORDERQ.PTHNUM_0 AS ReceiptNO,
			RECEIPTD.RCPDAT_0 AS ReceiptDate,
			IIF(PORDERQ.PTHNUM_0 = '' AND getDate()>PORDERQ.EXTRCPDAT_0,
			    DATEDIFF(day,PORDERQ.EXTRCPDAT_0,getDate()) ,
				DATEDIFF(day,PORDERQ.EXTRCPDAT_0, RECEIPTD.RCPDAT_0)) AS DaysDelay
	    FROM  EXPLOIT.PORDERP AS PORDERP
	        LEFT JOIN EXPLOIT.PORDERQ AS PORDERQ
	        ON PORDERP.POHNUM_0=PORDERQ.POHNUM_0
	            AND PORDERP.POPLIN_0=PORDERQ.POPLIN_0
	        LEFT JOIN EXPLOIT.PORDER AS PORDER
	        ON PORDERP.POHNUM_0=PORDER.POHNUM_0
			LEFT JOIN EXPLOIT.PRECEIPTD AS RECEIPTD
			ON PORDERQ.POHNUM_0 = RECEIPTD.POHNUM_0 AND PORDERQ.POPLIN_0 = RECEIPTD.POPLIN_0
	    WHERE PORDER.BPSNUM_0=#{SupplierCode}
		    AND (PORDERQ.EXTRCPDAT_0 BETWEEN CONVERT(datetime, #{DateFrom},120) AND CONVERT(datetime, #{DateTo},120) )
		    AND (RECEIPTD.RCPDAT_0 - PORDERQ.EXTRCPDAT_0 >0 OR RECEIPTD.RCPDAT_0 IS NULL)
		ORDER BY PORDERQ.EXTRCPDAT_0 ASC
	</select>
	<select id="supplierOpenItems" parameterType="String" resultType="sageassistant.model.SupplierOpenItems">
	    SELECT DISTINCT 
	        PORDERQ.PRHFCY_0 AS Site,
	        PORDER.BPSNUM_0 AS SupplierCode,
	        PORDERP.POHNUM_0 AS PurchaseNO,
	        PORDERP.PJT_0 AS ProjectNO,
	        PORDERP.ITMREF_0 AS PN,
	        PORDERP.ITMDES_0 AS Description,
	        IIF(PORDERQ.LINOCNDAT_0='1753-01-01',null,PORDERQ.LINOCNDAT_0) AS AckDate,
	        PORDERQ.EXTRCPDAT_0 AS ExpectDate,
	        PORDER.ORDDAT_0 AS OrderDate,
			IIF(PORDERQ.PTHNUM_0 = '' AND getDate()>PORDERQ.EXTRCPDAT_0,
			    DATEDIFF(day,PORDERQ.EXTRCPDAT_0,getDate()) ,
				DATEDIFF(day,PORDERQ.EXTRCPDAT_0, RECEIPTD.RCPDAT_0)) AS DaysDelay
	    FROM  EXPLOIT.PORDERP AS PORDERP
	        LEFT JOIN EXPLOIT.PORDERQ AS PORDERQ
	        ON PORDERP.POHNUM_0=PORDERQ.POHNUM_0
	            AND PORDERP.POPLIN_0=PORDERQ.POPLIN_0
	        LEFT JOIN EXPLOIT.PORDER AS PORDER
	        ON PORDERP.POHNUM_0=PORDER.POHNUM_0
			LEFT JOIN EXPLOIT.PRECEIPTD AS RECEIPTD
			ON PORDERQ.POHNUM_0 = RECEIPTD.POHNUM_0 AND PORDERQ.POPLIN_0 = RECEIPTD.POPLIN_0
	    WHERE PORDERQ.LINCLEFLG_0 != 2
		    AND PORDERQ.PTHNUM_0 =''
		    AND PORDER.BPSNUM_0=#{SupplierCode}
		ORDER BY PORDERQ.EXTRCPDAT_0 ASC
	</select>
	<select id="purchaseDate" parameterType="String" resultType="String">
	    SELECT DISTINCT
	        PORDER.ORDDAT_0 AS OrderDate
	    FROM  EXPLOIT.PORDER AS PORDER
	    WHERE PORDER.POHNUM_0=#{PurchaseNO}
	</select>
</mapper>