<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds"
	debug="false">
	<contextName>logback</contextName>
	<property name="LOG_HOME" value="../logs" />
	<!--output to console -->
	<appender name="console"
		class="ch.qos.logback.core.ConsoleAppender">
		<!-- <filter class="ch.qos.logback.classic.filter.ThresholdFilter"> <level>ERROR</level> 
			</filter> -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level [%thread] [%logger{36}] %msg%n
			</pattern>
		</encoder>
	</appender>

	<!--output to file -->
	<appender name="error_file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/sageassistant.%d{yyyy-MM-dd}.error.log</fileNamePattern>
			<!--keep 15 days -->
			<maxHistory>15</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level [%thread] [%logger{36}] %msg%n
			</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>error</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>
	<appender name="warn_file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/sageassistant.%d{yyyy-MM-dd}.warn.log</fileNamePattern>
			<!--keep 15 days -->
			<maxHistory>15</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level [%thread] [%logger{36}] %msg%n
			</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>warn</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>
	<appender name="info_file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/sageassistant.%d{yyyy-MM-dd}.info.log</fileNamePattern>
			<!--keep 15 days -->
			<maxHistory>15</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level [%thread] [%logger{36}] %msg%n
			</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>info</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<root level="info">
		<appender-ref ref="console" />
		<appender-ref ref="error_file" />
		<appender-ref ref="warn_file" />
		<appender-ref ref="info_file" />
	</root>

    <!-- if want to set by package -->
	<!-- <logger name="sageassistant" level="error" additivity="false"> -->
	<!-- <appender-ref ref="console" /> -->
	<!-- <appender-ref ref="error_file" /> -->
	<!-- </logger> -->
</configuration>