// app global css in SCSS form
// below color is waiting for choose
$sampleColor: #40a9ff;
$sampleColor: #f759ab;
$sampleColor: #ffa940;
$sampleColor: #bae637;
$sampleColor: #9254de;
$sampleColor: #36cfc9;
$sampleColor: #ffec3d;
$sampleColor: #ff7a45;
$sampleColor: #597ef7;
$sampleColor: #73d13d;
$sampleColor: #ffc53d;
$sampleColor: #ff4d4f;
$sampleColor: #69c0ff;
$sampleColor: #ff85c0;
$sampleColor: #ffc069;
$sampleColor: #d3f261;
$sampleColor: #b37feb;
$sampleColor: #5cdbd3;
$sampleColor: #fff566;
$sampleColor: #ff9c6e;
$sampleColor: #85a5ff;
$sampleColor: #95de64;
$sampleColor: #ffd666;
$sampleColor: #ff7875;
