<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.da.sage.assistant.dao.CustomerMapper">
	<!--Open L2 Cache under Names pace: 1 Hour-->
	<cache eviction="LRU" flushInterval="3600000" readOnly="true" size="1024" />
	<select id="findCustomerByCodeOrName" resultType="com.da.sage.assistant.model.CustomerName">
	    SELECT
	        BPARTNER.BPRNUM_0 AS CustomerCode,
	        BPARTNER.BPRNAM_0+BPARTNER.BPRNAM_1 AS CustomerName
	    FROM EXPLOIT.BPARTNER AS BPARTNER
			INNER JOIN EXPLOIT.BPCUSTOMER AS BPCUSTOMER
				ON BPARTNER.BPRNUM_0 = BPCUSTOMER.BPCNUM_0
		WHERE 
			BPARTNER.BPRNUM_0 LIKE #{CustomerCodeOrName} 
				OR BPARTNER.BPRNAM_0 LIKE #{CustomerCodeOrName} 
				OR BPARTNER.BPRNAM_1 LIKE #{CustomerCodeOrName}
		ORDER BY BPRNUM_0 ASC
		OFFSET 0 ROWS
		FETCH NEXT #{Count} ROWS ONLY
    </select>
	<select id="findCustomerDetailsByCode" resultType="com.da.sage.assistant.model.CustomerDetails">
	    SELECT 
		    BPARTNER.BPRNUM_0 AS CustomerCode,
		    BPARTNER.BPRNAM_0 AS CustomerName0,
		    BPARTNER.BPRNAM_1 AS CustomerName1,
			BPADDRESS.BPAADDLIG_0 AS Address0,
			BPADDRESS.BPAADDLIG_1 AS Address1,
			BPADDRESS.POSCOD_0 AS PostCode,
			BPADDRESS.CRYNAM_0 AS Country,
			BPADDRESS.SAT_0 AS State,
			BPADDRESS.CTY_0 AS City,
			BPADDRESS.TEL_0 AS Tel0,
			BPADDRESS.TEL_1 AS Tel1,
			BPADDRESS.TEL_2 AS Tel2,
			BPADDRESS.TEL_3 AS Tel3,
			BPADDRESS.TEL_4 AS Tel4,
			BPADDRESS.FAX_0 AS Fax0,
			BPADDRESS.MOB_0 AS Mobile0,
			BPADDRESS.WEB_0 AS Email0,
			BPADDRESS.WEB_1 AS Email1,
			BPADDRESS.WEB_2 AS Email2,
			BPADDRESS.WEB_3 AS Email3,
			BPADDRESS.WEB_4 AS Email4,
			BPADDRESS.FCYWEB_0 AS WebSite
		FROM EXPLOIT.BPARTNER AS BPARTNER
		   LEFT JOIN EXPLOIT.BPADDRESS AS BPADDRESS
		     ON BPARTNER.BPRNUM_0 = BPADDRESS.BPANUM_0
		WHERE BPARTNER.BPRNUM_0 = #{CustomerCode}
    </select>
	<select id="findCustomerTotalAmount" resultType="com.da.sage.assistant.model.CustomerSummaryAmount">
        SELECT DISTINCT
		    SORDER.SALFCY_0 AS Site,
			SORDER.BPCORD_0 AS CustomerCode,
			SORDER.CUR_0 AS Currency,
			SUM(SORDER.ORDATI_0) OVER (PARTITION BY SORDER.SALFCY_0, SORDER.BPCORD_0, CUR_0 ) AS Amount
		FROM EXPLOIT.SORDER AS SORDER
		WHERE BPCORD_0=#{CustomerCode}
		      AND (SORDER.ORDDAT_0 BETWEEN CONVERT(datetime, #{DateFrom},120) AND CONVERT(datetime, #{DateTo},120) )
    </select>
	<select id="findCustomerTotalProjectQty" resultType="com.da.sage.assistant.model.CustomerSummaryQty">
        SELECT DISTINCT
		    SORDERQ.SALFCY_0 AS Site,
		    SORDERQ.BPCORD_0 AS CustomerCode,
			'Project' AS CountType,
			COUNT(SORDERQ.YSOH_PJT_0) OVER (PARTITION BY SORDERQ.SALFCY_0, SORDERQ.BPCORD_0) AS Qty
		FROM EXPLOIT.SORDERQ AS SORDERQ
		WHERE SORDERQ.BPCORD_0=#{CustomerCode}
		      AND (SORDERQ.ORDDAT_0 BETWEEN CONVERT(datetime, #{DateFrom},120) AND CONVERT(datetime, #{DateTo},120) )
    </select>
	<select id="findCustomerTotalItemQty" resultType="com.da.sage.assistant.model.CustomerSummaryQty">
        SELECT DISTINCT
		    SORDERQ.SALFCY_0 AS Site,
		    SORDERQ.BPCORD_0 AS CustomerCode,
			'Item' AS CountType,
			SUM(SORDERQ.QTY_0) OVER (PARTITION BY SORDERQ.SALFCY_0, SORDERQ.BPCORD_0) AS Qty
		FROM EXPLOIT.SORDERQ AS SORDERQ
		WHERE SORDERQ.BPCORD_0=#{CustomerCode}
		      AND (SORDERQ.ORDDAT_0 BETWEEN CONVERT(datetime, #{DateFrom},120) AND CONVERT(datetime, #{DateTo},120) )
    </select>
	<select id="findCustomerTotalProductQty" resultType="com.da.sage.assistant.model.CustomerSummaryQty">
        SELECT DISTINCT
		SORDERQ.SALFCY_0 AS Site,
		    SORDERQ.BPCORD_0 AS CustomerCode,
			'Product' AS CountType,
			COUNT(SORDERQ.ITMREF_0) OVER (PARTITION BY SORDERQ.SALFCY_0, SORDERQ.BPCORD_0) AS Qty
		FROM EXPLOIT.SORDERQ AS SORDERQ
		WHERE SORDERQ.BPCORD_0=#{CustomerCode}
		      AND (SORDERQ.ORDDAT_0 BETWEEN CONVERT(datetime, #{DateFrom},120) AND CONVERT(datetime, #{DateTo},120) )
    </select>
	<select id="findCustomerOpenAmount" resultType="com.da.sage.assistant.model.CustomerSummaryAmount">
        SELECT DISTINCT
		    SORDER.SALFCY_0 AS Site,
			SORDER.BPCORD_0 AS CustomerCode,
			SORDER.CUR_0 AS Currency,
			SUM(SORDER.ORDATI_0) OVER (PARTITION BY SORDER.SALFCY_0, SORDER.BPCORD_0, CUR_0 ) AS Amount
		FROM EXPLOIT.SORDER AS SORDER 
		WHERE BPCORD_0=#{CustomerCode}
		      AND SORDER.ORDSTA_0 != 2		
	</select>
	<select id="findCustomerOpenProjectQty" resultType="com.da.sage.assistant.model.CustomerSummaryQty">
        SELECT DISTINCT
		    SORDERQ.SALFCY_0 AS Site,
		    SORDERQ.BPCORD_0 AS CustomerCode,
			'Project' AS CountType,
			COUNT(SORDERQ.YSOH_PJT_0) OVER (PARTITION BY SORDERQ.SALFCY_0, SORDERQ.BPCORD_0) AS Qty
		FROM EXPLOIT.SORDERQ AS SORDERQ
		     LEFT JOIN EXPLOIT.SORDER AS SORDER
			      ON SORDER.SOHNUM_0 = SORDERQ.SOHNUM_0
		WHERE SORDERQ.BPCORD_0=#{CustomerCode}
		      AND SORDER.ORDSTA_0 != 2
	</select>
	<select id="findCustomerOpenItemQty" resultType="com.da.sage.assistant.model.CustomerSummaryQty">
        SELECT DISTINCT
		    SORDERQ.SALFCY_0 AS Site,
		    SORDERQ.BPCORD_0 AS CustomerCode,
			'Item' AS CountType,
			SUM(SORDERQ.QTY_0) OVER (PARTITION BY SORDERQ.SALFCY_0, SORDERQ.BPCORD_0) AS Qty
		FROM EXPLOIT.SORDERQ AS SORDERQ
		     LEFT JOIN EXPLOIT.SORDER AS SORDER
			    ON SORDER.SOHNUM_0 = SORDERQ.SOHNUM_0
		WHERE SORDERQ.BPCORD_0=#{CustomerCode}
		     AND SORDER.ORDSTA_0 != 2
	</select>
	<select id="findCustomerOpenProductQty" resultType="com.da.sage.assistant.model.CustomerSummaryQty">
        SELECT DISTINCT
		SORDERQ.SALFCY_0 AS Site,
		    SORDERQ.BPCORD_0 AS CustomerCode,
			'Product' AS CountType,
			COUNT(SORDERQ.ITMREF_0) OVER (PARTITION BY SORDERQ.SALFCY_0, SORDERQ.BPCORD_0) AS Qty
		FROM EXPLOIT.SORDERQ AS SORDERQ
		     LEFT JOIN EXPLOIT.SORDER AS SORDER
			     ON SORDER.SOHNUM_0 = SORDERQ.SOHNUM_0
		WHERE SORDERQ.BPCORD_0=#{CustomerCode}
		      AND SORDER.ORDSTA_0 != 2
	</select>
	<select id="findCustomerDeliveryHistory" resultType="com.da.sage.assistant.model.CustomerDeliveryHistory">
	    SELECT DISTINCT 
			SORDERQ.SALFCY_0 AS Site,
			SORDERQ.BPCORD_0 AS CustomerCode,
			SORDERQ.SOHNUM_0 AS OrderNO,
			SORDERQ.YSOH_PJT_0 AS ProjectNO,
			SORDERQ.ITMREF_0 AS PN,
			SORDERP.ITMDES_0 AS Description,
			SORDERQ.ORDDAT_0 AS OrderDate,
			SORDERQ.DEMDLVDAT_0 AS DemandDate,
			SORDERQ.SHIDAT_0 AS ShipDate,
			SORDERQ.SDHNUM_0 AS DeliveryNO,
			DATEDIFF(day,SORDERQ.ORDDAT_0, SORDERQ.SHIDAT_0) AS DaysNeed
		FROM EXPLOIT.SORDERQ AS SORDERQ
			LEFT JOIN EXPLOIT.SORDERP AS SORDERP
				ON SORDERP.SOHNUM_0 = SORDERQ.SOHNUM_0
					AND SORDERP.SOPLIN_0 = SORDERQ.SOPLIN_0
		WHERE SORDERQ.SALFCY_0 ='ZHU'
		    AND SORDERQ.BPCORD_0=#{CustomerCode}
		    AND (SORDERQ.SHIDAT_0 BETWEEN CONVERT(datetime, #{DateFrom},120) AND CONVERT(datetime, #{DateTo},120) )
		ORDER BY SORDERQ.SHIDAT_0
	</select>
	<select id="findCustomerDelayHistory" resultType="com.da.sage.assistant.model.CustomerDelayHistory">
		SELECT DISTINCT 
			SORDERQ.SALFCY_0 AS Site,
			SORDERQ.BPCORD_0 AS CustomerCode,
			SORDERQ.SOHNUM_0 AS OrderNO,
			SORDERQ.YSOH_PJT_0 AS ProjectNO,
			SORDERQ.ITMREF_0 AS PN,
			SORDERP.ITMDES_0 AS Description,
			SORDERQ.ORDDAT_0 AS OrderDate,
			SORDERQ.DEMDLVDAT_0 AS DemandDate,
			SORDERQ.SHIDAT_0 AS ShipDate,
			SORDERQ.SDHNUM_0 AS DeliveryNO,
			IIF(SORDERQ.SDHNUM_0 = '' AND getDate()>SORDERQ.SHIDAT_0,
			    DATEDIFF(day,SORDERQ.DEMDLVDAT_0,getDate()) ,
				DATEDIFF(day,SORDERQ.SHIDAT_0, SORDERQ.DEMDLVDAT_0)) AS DaysDelay
		FROM EXPLOIT.SORDERQ AS SORDERQ
			LEFT JOIN EXPLOIT.SORDERP AS SORDERP
				ON SORDERP.SOHNUM_0 = SORDERQ.SOHNUM_0
					AND SORDERP.SOPLIN_0 = SORDERQ.SOPLIN_0
		WHERE SORDERQ.SALFCY_0 ='ZHU'
			AND SORDERQ.BPCORD_0=#{CustomerCode}
			AND (SORDERQ.DEMDLVDAT_0 BETWEEN CONVERT(datetime, #{DateFrom},120) AND CONVERT(datetime, #{DateTo},120) )
			AND (SORDERQ.SHIDAT_0 - SORDERQ.DEMDLVDAT_0 >0 OR SORDERQ.SDHNUM_0 IS NULL )
		ORDER BY SORDERQ.DEMDLVDAT_0
	</select>
	<select id="findCustomerOpenItems" resultType="com.da.sage.assistant.model.CustomerOpenItems">
	SELECT DISTINCT
		SORDERQ.SALFCY_0 AS Site,
		SORDERQ.BPCORD_0 AS CustomerCode,
		SORDERQ.SOHNUM_0 AS OrderNO,
		SORDERQ.YSOH_PJT_0 AS ProjectNO,
		SORDERQ.ITMREF_0 AS PN,
		SORDERP.ITMDES_0 AS Description,
		SORDERQ.ORDDAT_0 AS OrderDate,
		SORDERQ.DEMDLVDAT_0 AS DemandDate,
		SORDERQ.SHIDAT_0 AS ShipDate,
		IIF(SORDERQ.SDHNUM_0 = '' AND getDate()>SORDERQ.SHIDAT_0,
			DATEDIFF(day,SORDERQ.DEMDLVDAT_0,getDate()) ,
			DATEDIFF(day,SORDERQ.SHIDAT_0, SORDERQ.DEMDLVDAT_0)) AS DaysDelay
	FROM EXPLOIT.SORDERQ AS SORDERQ
		 LEFT JOIN EXPLOIT.SORDER AS SORDER
			ON SORDER.SOHNUM_0 = SORDERQ.SOHNUM_0
		 LEFT JOIN EXPLOIT.SORDERP AS SORDERP
			ON SORDERP.SOHNUM_0 = SORDERQ.SOHNUM_0
				AND SORDERP.SOPLIN_0 = SORDERQ.SOPLIN_0
	WHERE SORDERQ.BPCORD_0=#{CustomerCode}
		 AND SORDER.ORDSTA_0 != 2
    ORDER BY SORDERQ.DEMDLVDAT_0 ASC
	</select>
</mapper>